body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.nav-menu-child22 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 291px;
  height: 1000px;
}
.menu24 {
  position: absolute;
  top: 91px;
  left: 10px;
  font-size: var(--font-size-28xl);
  font-weight: 500;
  color: var(--color-dimgray);
  text-align: center;
}
.home-btn-child22 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 290px;
  height: 80px;
}
.home24 {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 40px;
  font-weight: 500;
}
.fs-btn24,
.home-btn24 {
  position: absolute;
  top: 114px;
  left: 0;
  width: 290px;
  height: 80px;
}
.fs-btn24 {
  top: 194px;
}
.c-btn24,
.co-btn24,
.cs-btn24,
.rs-btn24,
.ss-btn24 {
  position: absolute;
  top: 274px;
  left: 0;
  width: 290px;
  height: 80px;
}
.c-btn24,
.co-btn24,
.cs-btn24,
.rs-btn24 {
  top: 354px;
}
.c-btn24,
.co-btn24,
.cs-btn24 {
  top: 514px;
}
.co-btn24,
.cs-btn24 {
  top: 594px;
}
.cs-btn24 {
  top: 674px;
}
.ai-btn24,
.as-btn24,
.mes-btn24,
.nav-child22,
.nav-menu24 {
  position: absolute;
  top: 754px;
  left: 0;
  width: 290px;
  height: 80px;
}
.as-btn24,
.mes-btn24,
.nav-child22,
.nav-menu24 {
  top: 834px;
}
.mes-btn24,
.nav-child22,
.nav-menu24 {
  top: 434px;
}
.nav-child22,
.nav-menu24 {
  top: 0;
  height: 1000px;
}
.nav-child22 {
  background-color: var(--white);
  width: 1169px;
  height: 80px;
}
.batangas-state-university24 {
  position: absolute;
  top: 20px;
  left: 86px;
  font-size: var(--font-size-51xl);
  letter-spacing: 0.4em;
  font-weight: 500;
  color: var(--color-black);
}
.change-password24 {
  position: relative;
  line-height: 40px;
  font-weight: 500;
}
.cp24,
.lo24,
.nav24 {
  position: absolute;
  top: 0;
}
.cp24 {
  left: 844px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xl);
  align-items: center;
  justify-content: center;
}
.lo24,
.nav24 {
  height: 80px;
}
.lo24 {
  left: 1069px;
  background-color: var(--white);
  width: 100px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.nav24 {
  left: 291px;
  width: 1169px;
  text-align: center;
  color: var(--color-darkred);
}
.profile-removebg-preview-2-icon24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70.35px;
  object-fit: cover;
}
.admin24 {
  position: absolute;
  top: 16px;
  left: 103px;
  font-weight: 500;
}
.admin-pf24,
.course-offering28,
.search-course2 {
  position: absolute;
  font-size: var(--font-size-50xl);
}
.admin-pf24 {
  top: 10px;
  left: 20px;
  width: 187px;
  height: 70.35px;
  text-align: center;
}
.course-offering28,
.search-course2 {
  top: 130px;
  left: 340px;
  font-weight: 500;
}
.search-course2 {
  top: 8.2px;
  left: 16.41px;
  font-size: var(--font-size-48xl);
  color: var(--color-black);
}
.search26 {
  position: relative;
  line-height: 32.81px;
  font-weight: 600;
}
.search-wrapper12 {
  position: absolute;
  top: 127.14px;
  left: 98.43px;
  border-radius: var(--br-4xl);
  background-color: var(--color-forestgreen);
  width: 483.96px;
  height: 35.27px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--white);
}
.iconsregularplus408 {
  position: relative;
  width: 16.41px;
  height: 16.41px;
  flex-shrink: 0;
  display: none;
}
.st-year210 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 14.76px;
  font-weight: 500;
}
.label1408,
.label2408,
.label4408 {
  position: relative;
  width: 36.91px;
  height: 14.76px;
  flex-shrink: 0;
  display: none;
}
.label2408,
.label4408 {
  width: 40.19px;
}
.label4408 {
  width: 41.01px;
}
.iconsregularchevron-down-s408 {
  position: relative;
  width: 16.41px;
  height: 16.41px;
  flex-shrink: 0;
}
.header68 {
  align-self: stretch;
  border-radius: var(--br-md);
  background-color: var(--white);
  border: 1.1px solid var(--blues-gray2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-md);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.iconsregularchevron-down-s409,
.label1409 {
  position: relative;
  width: 36.91px;
  height: 14.76px;
  flex-shrink: 0;
}
.iconsregularchevron-down-s409 {
  width: 16.41px;
  height: 16.41px;
  opacity: 0;
}
.item-hover340 {
  align-self: stretch;
  background-color: var(--white);
  height: 34.45px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-10xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}
.label2410 {
  position: relative;
  width: 40.19px;
  height: 14.76px;
  flex-shrink: 0;
}
.item-hover341,
.item-hover342 {
  align-self: stretch;
  background-color: var(--white);
  height: 34.45px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-10xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.item-hover342 {
  z-index: 2;
}
.label4412 {
  position: relative;
  width: 41.01px;
  height: 14.76px;
  flex-shrink: 0;
}
.item-hover343 {
  align-self: stretch;
  height: 34.45px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-10xl);
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 1;
}
.item-hover343,
.item-hover344,
.items-list68 {
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.item-hover344 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-10xl);
  justify-content: space-between;
  z-index: 0;
}
.items-list68 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -178.82px;
  left: 0;
  border-radius: 0 0 var(--br-md) var(--br-md);
  height: 178.82px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
}
.items-frame68 {
  align-self: stretch;
  position: relative;
  height: 0.82px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;
}
.dropdown-box68 {
  position: absolute;
  top: 76.28px;
  left: 15.59px;
  width: 123.04px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.curriculum-year2,
.level15,
.period2,
.status7 {
  position: absolute;
  top: 57.42px;
  left: 155.03px;
  font-size: var(--font-size-20xl);
  font-weight: 500;
  color: var(--color-dimgray);
}
.curriculum-year2,
.period2,
.status7 {
  left: 15.59px;
}
.period2,
.status7 {
  left: 296.94px;
}
.status7 {
  left: 474.93px;
}
.dropdown-box69,
.dropdown-box70,
.dropdown-box71 {
  position: absolute;
  top: 76.28px;
  left: 155.03px;
  width: 123.04px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropdown-box70,
.dropdown-box71 {
  left: 474.93px;
  width: 164.05px;
}
.dropdown-box71 {
  left: 294.48px;
}
.search-course-container {
  position: absolute;
  top: 167.18px;
  left: 772.18px;
  background-color: var(--white);
  border: 0.8px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 650.64px;
  height: 174.64px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--black);
}
.frame-child129,
.frame-child130 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 358.91px;
  height: 186px;
}
.frame-child130 {
  background-color: var(--color-darkred);
  width: 359.6px;
  height: 27.56px;
}
.bachelor-of-science2 {
  position: absolute;
  top: 7.58px;
  left: 13.78px;
  font-size: var(--font-size-24xl);
  letter-spacing: 0.03em;
  line-height: 12.4px;
  font-weight: 500;
  color: var(--white);
}
.iconsregularplus432 {
  position: relative;
  width: 13.78px;
  height: 13.78px;
  flex-shrink: 0;
  display: none;
}
.mr-homer-castillo216 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 12.4px;
  font-weight: 500;
}
.label1432,
.label2432,
.label4432 {
  position: relative;
  width: 31px;
  height: 12.4px;
  flex-shrink: 0;
  display: none;
}
.label2432,
.label4432 {
  width: 33.76px;
}
.label4432 {
  width: 34.44px;
}
.iconsregularchevron-down-s432 {
  position: relative;
  width: 13.78px;
  height: 13.78px;
  flex-shrink: 0;
}
.header72 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 0.9px solid var(--blues-gray2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-14xs) var(--padding-5xs);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.iconsregularchevron-down-s433,
.label1433 {
  position: relative;
  width: 31px;
  height: 12.4px;
  flex-shrink: 0;
}
.iconsregularchevron-down-s433 {
  width: 13.78px;
  height: 13.78px;
  opacity: 0;
}
.item-hover360 {
  align-self: stretch;
  background-color: var(--white);
  height: 28.93px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-14xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}
.label2434 {
  position: relative;
  width: 33.76px;
  height: 12.4px;
  flex-shrink: 0;
}
.item-hover361,
.item-hover362 {
  align-self: stretch;
  background-color: var(--white);
  height: 28.93px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-14xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.item-hover362 {
  z-index: 2;
}
.label4436 {
  position: relative;
  width: 34.44px;
  height: 12.4px;
  flex-shrink: 0;
}
.item-hover363 {
  align-self: stretch;
  height: 28.93px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-14xs) var(--padding-xl);
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 1;
}
.item-hover363,
.item-hover364,
.items-list72 {
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.item-hover364 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-14xs) var(--padding-xl);
  justify-content: space-between;
  z-index: 0;
}
.items-list72 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -150.18px;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  height: 150.18px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
}
.items-frame72 {
  align-self: stretch;
  position: relative;
  height: 0.69px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;
}
.dropdown-box72,
.dropdown-box73 {
  position: absolute;
  top: 50.29px;
  left: 20.67px;
  width: 316.89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropdown-box73 {
  top: 109.53px;
}
.level16,
.section18 {
  position: absolute;
  top: 34.44px;
  left: 20.67px;
  font-size: var(--font-size-8xl);
  font-weight: 500;
  color: var(--color-dimgray);
}
.section18 {
  top: 93.69px;
}
.rectangle-parent55 {
  position: absolute;
  top: 168px;
  left: 406px;
  width: 359.6px;
  height: 186px;
  font-size: var(--font-size-xs);
  color: var(--black);
}
.nav-menu-parent22 {
  position: absolute;
  top: 40px;
  left: 60px;
  background-color: var(--color-whitesmoke);
  width: 1435px;
  height: 1000px;
}
.course-offering110 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-black);
  font-family: var(--drop-menu-menu);
}
