body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.nav-menu-child30 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 291px;
  height: 1000px;
}
.menu32 {
  position: absolute;
  top: 91px;
  left: 10px;
  font-size: var(--font-size-28xl);
  font-weight: 500;
  color: var(--color-dimgray);
  text-align: center;
}
.home-btn-child30 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 290px;
  height: 80px;
}
.home32 {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 40px;
  font-weight: 500;
}
.fs-btn32,
.home-btn32 {
  position: absolute;
  top: 114px;
  left: 0;
  width: 290px;
  height: 80px;
}
.fs-btn32 {
  top: 194px;
}
.c-btn32,
.co-btn32,
.cs-btn32,
.rs-btn32,
.ss-btn32 {
  position: absolute;
  top: 274px;
  left: 0;
  width: 290px;
  height: 80px;
}
.c-btn32,
.co-btn32,
.cs-btn32,
.rs-btn32 {
  top: 354px;
}
.c-btn32,
.co-btn32,
.cs-btn32 {
  top: 514px;
}
.co-btn32,
.cs-btn32 {
  top: 594px;
}
.cs-btn32 {
  top: 674px;
}
.ai-btn32,
.as-btn32,
.mes-btn32,
.nav-child30,
.nav-menu32 {
  position: absolute;
  top: 754px;
  left: 0;
  width: 290px;
  height: 80px;
}
.as-btn32,
.mes-btn32,
.nav-child30,
.nav-menu32 {
  top: 834px;
}
.mes-btn32,
.nav-child30,
.nav-menu32 {
  top: 434px;
}
.nav-child30,
.nav-menu32 {
  top: 0;
  height: 1000px;
}
.nav-child30 {
  background-color: var(--white);
  width: 1169px;
  height: 80px;
}
.batangas-state-university32 {
  position: absolute;
  top: 20px;
  left: 86px;
  font-size: var(--font-size-51xl);
  letter-spacing: 0.4em;
  font-weight: 500;
  color: var(--color-black);
}
.change-password32 {
  position: relative;
  line-height: 40px;
  font-weight: 500;
}
.cp32,
.lo32,
.nav32 {
  position: absolute;
  top: 0;
}
.cp32 {
  left: 844px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xl);
  align-items: center;
  justify-content: center;
}
.lo32,
.nav32 {
  height: 80px;
}
.lo32 {
  left: 1069px;
  background-color: var(--white);
  width: 100px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.nav32 {
  left: 291px;
  width: 1169px;
  text-align: center;
  color: var(--color-darkred);
}
.profile-removebg-preview-2-icon32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70.35px;
  object-fit: cover;
}
.admin32 {
  position: absolute;
  top: 16px;
  left: 103px;
  font-weight: 500;
}
.admin-pf32 {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 187px;
  height: 70.35px;
  text-align: center;
  font-size: var(--font-size-50xl);
}
.faculty-schedule36,
.search-by-instructor2 {
  position: absolute;
  top: 130px;
  left: 340px;
  font-size: var(--font-size-50xl);
  font-weight: 500;
}
.search-by-instructor2 {
  top: 10px;
  left: 20px;
  color: var(--color-black);
}
.iconsregularplus600 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.st-year240 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.label1600,
.label2600,
.label4600 {
  position: relative;
  width: 45px;
  height: 18px;
  flex-shrink: 0;
  display: none;
}
.label2600,
.label4600 {
  width: 49px;
}
.label4600 {
  width: 50px;
}
.iconsregularchevron-down-s600 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.header100 {
  align-self: stretch;
  border-radius: var(--br-3xl);
  background-color: var(--white);
  border: 1.3px solid var(--blues-gray2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-7xl);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.iconsregularchevron-down-s601,
.label1601 {
  position: relative;
  width: 45px;
  height: 18px;
  flex-shrink: 0;
}
.iconsregularchevron-down-s601 {
  width: 20px;
  height: 20px;
  opacity: 0;
}
.item-hover500 {
  align-self: stretch;
  background-color: var(--white);
  height: 42px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-21xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}
.label2602 {
  position: relative;
  width: 49px;
  height: 18px;
  flex-shrink: 0;
}
.item-hover501,
.item-hover502 {
  align-self: stretch;
  background-color: var(--white);
  height: 42px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-21xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.item-hover502 {
  z-index: 2;
}
.label4604 {
  position: relative;
  width: 50px;
  height: 18px;
  flex-shrink: 0;
}
.item-hover503 {
  align-self: stretch;
  height: 42px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-21xl);
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 1;
}
.item-hover503,
.item-hover504,
.items-list100 {
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.item-hover504 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-21xl);
  justify-content: space-between;
  z-index: 0;
}
.items-list100 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -218px;
  left: 0;
  border-radius: 0 0 var(--br-3xl) var(--br-3xl);
  height: 218px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
}
.items-frame100 {
  align-self: stretch;
  position: relative;
  height: 1px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;
}
.dropdown-box100 {
  position: absolute;
  top: 93px;
  left: 47px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--drop-menu-menu-size);
  color: var(--black);
}
.instructor1,
.level20,
.search29 {
  position: absolute;
  top: 70px;
  left: 47px;
  font-weight: 500;
}
.instructor1,
.search29 {
  left: 357px;
}
.search29 {
  left: 668px;
}
.dropdown-box101 {
  position: absolute;
  top: 93px;
  left: 357px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--drop-menu-menu-size);
  color: var(--black);
}
.search30 {
  position: relative;
  line-height: 40px;
  font-weight: 600;
}
.search-wrapper14 {
  position: absolute;
  top: 93px;
  left: 668px;
  border-radius: var(--br-5xl);
  background-color: var(--color-forestgreen);
  width: 300px;
  height: 43px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-32xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-47xl);
  color: var(--white);
}
.search-by-instructor-container {
  position: absolute;
  top: 167px;
  left: 430px;
  background-color: var(--white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 987px;
  height: 157px;
  overflow: hidden;
  font-size: var(--font-size-28xl);
  color: var(--color-dimgray);
}
.frame-child146,
.frame-child147 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 432.17px;
  height: 223.97px;
}
.frame-child147 {
  background-color: var(--color-darkred);
  width: 433px;
  height: 33.18px;
}
.courses-to-load5 {
  position: absolute;
  top: 9.12px;
  left: 16.59px;
  font-size: var(--font-size-35xl);
  letter-spacing: 0.03em;
  line-height: 14.93px;
  font-weight: 500;
  color: var(--white);
  text-align: left;
}
.course5 {
  position: relative;
  line-height: 39.61px;
  font-weight: 600;
}
.course-wrapper3,
.cs-thesis-1-wrapper6,
.math-111-wrapper12,
.schedule-wrapper11 {
  position: absolute;
  left: 15.94px;
  border: 1.3px solid var(--color-black);
  box-sizing: border-box;
  width: 131.04px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-20xs) var(--padding-22xl);
  align-items: center;
  justify-content: center;
}
.course-wrapper3 {
  top: 49.12px;
  background-color: var(--color-darkred);
  font-size: var(--font-size-30xl);
  color: var(--white);
}
.cs-thesis-1-wrapper6,
.math-111-wrapper12,
.schedule-wrapper11 {
  top: 99.72px;
  background-color: var(--white);
}
.cs-thesis-1-wrapper6,
.schedule-wrapper11 {
  top: 150.32px;
}
.schedule-wrapper11 {
  top: 49.12px;
  left: 145.68px;
  background-color: var(--color-forestgreen);
  width: 272.46px;
  font-size: var(--font-size-30xl);
  color: var(--white);
}
.p12 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.m-800am-1000am13 {
  margin: 0;
}
.m-800am-1000am12 {
  position: relative;
  line-height: 19.46px;
  font-weight: 600;
}
.m-800am-1000am-wrapper1,
.t-200pm-400pm-wrapper5 {
  position: absolute;
  top: 99.72px;
  left: 145.68px;
  background-color: var(--white);
  border: 1.3px solid var(--color-black);
  box-sizing: border-box;
  width: 272.46px;
  height: 51.9px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-20xs) var(--padding-22xl);
  align-items: center;
  justify-content: center;
}
.t-200pm-400pm-wrapper5 {
  top: 150.32px;
}
.rectangle-parent66 {
  position: absolute;
  top: 344px;
  left: 340px;
  width: 433px;
  height: 223.97px;
  text-align: center;
  font-size: var(--font-size-19xl);
}
.time6 {
  position: relative;
  font-weight: 500;
}
.time-wrapper4,
.wrapper95 {
  position: absolute;
  left: -0.28px;
  background-color: var(--color-darkred);
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-32xs) var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.time-wrapper4 {
  top: -0.28px;
  height: 16.33px;
  font-size: var(--font-size-5xs);
}
.wrapper95 {
  top: 15.48px;
  width: 50.11px;
  height: 32px;
}
.calendar-child468 {
  top: 15.48px;
  left: 49.83px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child468,
.calendar-child469,
.calendar-child470 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child469 {
  top: 47.02px;
  left: 49.83px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child470 {
  top: 78.55px;
}
.calendar-child470,
.calendar-child471,
.calendar-child472 {
  left: 49.83px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child471 {
  position: absolute;
  top: 110.08px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child472 {
  top: 141.61px;
}
.calendar-child472,
.calendar-child473,
.calendar-child474 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child473 {
  top: 173.14px;
  left: 49.83px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child474 {
  top: 204.68px;
}
.calendar-child474,
.calendar-child475,
.calendar-child476 {
  left: 49.83px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child475 {
  position: absolute;
  top: 236.21px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child476 {
  top: 267.74px;
}
.calendar-child476,
.calendar-child477,
.calendar-child478 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child477 {
  top: 299.27px;
  left: 49.83px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child478 {
  top: 330.8px;
}
.calendar-child478,
.calendar-child479,
.calendar-child480 {
  left: 49.83px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child479 {
  position: absolute;
  top: 362.33px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child480 {
  top: 393.87px;
}
.calendar-child480,
.calendar-child481,
.calendar-child482 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child481 {
  top: 15.48px;
  left: 141.61px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child482 {
  top: 47.02px;
}
.calendar-child482,
.calendar-child483,
.calendar-child484 {
  left: 141.61px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child483 {
  position: absolute;
  top: 78.55px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child484 {
  top: 110.08px;
}
.calendar-child484,
.calendar-child485,
.calendar-child486 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child485 {
  top: 141.61px;
  left: 141.61px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child486 {
  top: 173.14px;
}
.calendar-child486,
.calendar-child487,
.calendar-child488 {
  left: 141.61px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child487 {
  position: absolute;
  top: 204.68px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child488 {
  top: 236.21px;
}
.calendar-child488,
.calendar-child489,
.calendar-child490 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child489 {
  top: 267.74px;
  left: 141.61px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child490 {
  top: 299.27px;
}
.calendar-child490,
.calendar-child491,
.calendar-child492 {
  left: 141.61px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child491 {
  position: absolute;
  top: 330.8px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child492 {
  top: 362.33px;
}
.calendar-child492,
.calendar-child493,
.calendar-child494 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child493 {
  top: 393.87px;
  left: 141.61px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child494 {
  top: 15.48px;
  left: 233.39px;
}
.calendar-child494,
.calendar-child495,
.calendar-child496 {
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child495 {
  position: absolute;
  top: 47.02px;
  left: 233.39px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child496 {
  top: 78.55px;
}
.calendar-child496,
.calendar-child497,
.calendar-child498 {
  position: absolute;
  left: 233.39px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child497 {
  top: 110.08px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child498 {
  top: 141.61px;
}
.calendar-child498,
.calendar-child499,
.calendar-child500 {
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child499 {
  position: absolute;
  top: 173.14px;
  left: 233.39px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child500 {
  top: 204.68px;
}
.calendar-child500,
.calendar-child501,
.calendar-child502 {
  position: absolute;
  left: 233.39px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child501 {
  top: 236.21px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child502 {
  top: 267.74px;
}
.calendar-child502,
.calendar-child503,
.calendar-child504 {
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child503 {
  position: absolute;
  top: 299.27px;
  left: 233.39px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child504 {
  top: 330.8px;
}
.calendar-child504,
.calendar-child505,
.calendar-child506 {
  position: absolute;
  left: 233.39px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child505 {
  top: 362.33px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child506 {
  top: 393.87px;
}
.calendar-child506,
.calendar-child507,
.calendar-child508 {
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child507 {
  position: absolute;
  top: 15.48px;
  left: 325.17px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child508 {
  top: 47.02px;
}
.calendar-child508,
.calendar-child509,
.calendar-child510 {
  position: absolute;
  left: 325.17px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child509 {
  top: 78.55px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child510 {
  top: 110.08px;
}
.calendar-child510,
.calendar-child511,
.calendar-child512 {
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child511 {
  position: absolute;
  top: 141.61px;
  left: 325.17px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child512 {
  top: 173.14px;
}
.calendar-child512,
.calendar-child513,
.calendar-child514 {
  position: absolute;
  left: 325.17px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child513 {
  top: 204.68px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child514 {
  top: 236.21px;
}
.calendar-child514,
.calendar-child515,
.calendar-child516 {
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child515 {
  position: absolute;
  top: 267.74px;
  left: 325.17px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child516 {
  top: 299.27px;
}
.calendar-child516,
.calendar-child517,
.calendar-child518 {
  position: absolute;
  left: 325.17px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child517 {
  top: 330.8px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child518 {
  top: 362.33px;
}
.calendar-child518,
.calendar-child519,
.calendar-child520 {
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child519 {
  position: absolute;
  top: 393.87px;
  left: 325.17px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child520 {
  top: 15.48px;
  left: 416.95px;
}
.calendar-child520,
.calendar-child521,
.calendar-child522 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child521 {
  top: 47.02px;
  left: 416.95px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child522 {
  top: 78.55px;
}
.calendar-child522,
.calendar-child523,
.calendar-child524 {
  left: 416.95px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child523 {
  position: absolute;
  top: 110.08px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child524 {
  top: 141.61px;
}
.calendar-child524,
.calendar-child525,
.calendar-child526 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child525 {
  top: 173.14px;
  left: 416.95px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child526 {
  top: 204.68px;
}
.calendar-child526,
.calendar-child527,
.calendar-child528 {
  left: 416.95px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child527 {
  position: absolute;
  top: 236.21px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child528 {
  top: 267.74px;
}
.calendar-child528,
.calendar-child529,
.calendar-child530 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child529 {
  top: 299.27px;
  left: 416.95px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child530 {
  top: 330.8px;
}
.calendar-child530,
.calendar-child531,
.calendar-child532 {
  left: 416.95px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child531 {
  position: absolute;
  top: 362.33px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child532 {
  top: 393.87px;
}
.calendar-child532,
.calendar-child533,
.calendar-child534 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child533 {
  top: 15.48px;
  left: 508.73px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child534 {
  top: 47.02px;
}
.calendar-child534,
.calendar-child535,
.calendar-child536 {
  left: 508.73px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child535 {
  position: absolute;
  top: 78.55px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child536 {
  top: 110.08px;
}
.calendar-child536,
.calendar-child537,
.calendar-child538 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child537 {
  top: 141.61px;
  left: 508.73px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child538 {
  top: 173.14px;
}
.calendar-child538,
.calendar-child539,
.calendar-child540 {
  left: 508.73px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child539 {
  position: absolute;
  top: 204.68px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child540 {
  top: 236.21px;
}
.calendar-child540,
.calendar-child541,
.calendar-child542 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child541 {
  top: 267.74px;
  left: 508.73px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child542 {
  top: 299.27px;
}
.calendar-child542,
.calendar-child543,
.calendar-child544 {
  left: 508.73px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.calendar-child543 {
  position: absolute;
  top: 330.8px;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child544 {
  top: 362.33px;
}
.calendar-child544,
.calendar-child545,
.wrapper96 {
  position: absolute;
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
}
.calendar-child545 {
  top: 393.87px;
  left: 508.73px;
  background-color: var(--white);
  width: 92.34px;
  height: 32.09px;
}
.wrapper96 {
  top: 46.92px;
  background-color: var(--color-darkred);
  display: flex;
  flex-direction: row;
  padding: var(--padding-32xs) var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.wrapper96,
.wrapper97,
.wrapper98 {
  left: -0.28px;
  width: 50.11px;
  height: 32px;
}
.wrapper97 {
  position: absolute;
  top: 78.36px;
  background-color: var(--color-darkred);
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-32xs) var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.wrapper98 {
  top: 109.8px;
}
.wrapper100,
.wrapper98,
.wrapper99 {
  position: absolute;
  background-color: var(--color-darkred);
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-32xs) var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.wrapper99 {
  top: 141.24px;
  left: -0.28px;
  width: 50.11px;
  height: 32px;
}
.wrapper100 {
  top: 172.68px;
}
.wrapper100,
.wrapper101,
.wrapper102 {
  left: -0.28px;
  width: 50.11px;
  height: 32px;
}
.wrapper101 {
  position: absolute;
  top: 204.12px;
  background-color: var(--color-darkred);
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-32xs) var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.wrapper102 {
  top: 235.56px;
}
.wrapper102,
.wrapper103,
.wrapper104 {
  position: absolute;
  background-color: var(--color-darkred);
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-32xs) var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.wrapper103 {
  top: 267px;
  left: -0.28px;
  width: 50.11px;
  height: 32px;
}
.wrapper104 {
  top: 298.44px;
}
.wrapper104,
.wrapper105,
.wrapper106 {
  left: -0.28px;
  width: 50.11px;
  height: 32px;
}
.wrapper105 {
  position: absolute;
  top: 329.88px;
  background-color: var(--color-darkred);
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-32xs) var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.wrapper106 {
  top: 361.32px;
}
.fri-wrapper4,
.mon-wrapper4,
.sat-wrapper4,
.thu-wrapper4,
.tue-wrapper4,
.wed-wrapper4,
.wrapper106,
.wrapper107 {
  position: absolute;
  background-color: var(--color-darkred);
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-32xs) var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.wrapper107 {
  top: 392.76px;
  left: -0.28px;
  width: 50.11px;
  height: 32px;
}
.fri-wrapper4,
.mon-wrapper4,
.sat-wrapper4,
.thu-wrapper4,
.tue-wrapper4,
.wed-wrapper4 {
  top: -0.28px;
  left: 49.27px;
  width: 92.83px;
  font-size: var(--font-size-5xs);
}
.fri-wrapper4,
.sat-wrapper4,
.thu-wrapper4,
.tue-wrapper4,
.wed-wrapper4 {
  left: 141.54px;
}
.fri-wrapper4,
.sat-wrapper4,
.thu-wrapper4,
.wed-wrapper4 {
  left: 233.8px;
}
.fri-wrapper4,
.sat-wrapper4,
.thu-wrapper4 {
  left: 326.3px;
  width: 91.22px;
}
.fri-wrapper4,
.sat-wrapper4 {
  left: 416.39px;
  width: 92.83px;
}
.sat-wrapper4 {
  left: 509.04px;
  width: 92.04px;
}
.calendar6 {
  position: absolute;
  top: 35.13px;
  left: 13.17px;
  width: 600.79px;
  height: 425.68px;
  color: var(--white);
}
.cv-btn-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 91.17px;
  height: 24.64px;
}
.calendar-view5 {
  position: absolute;
  top: 2.46px;
  left: 8.87px;
  line-height: 19.71px;
  font-weight: 500;
}
.cv-btn5 {
  position: absolute;
  top: 7.32px;
  left: 522.49px;
  width: 91.38px;
  height: 24.83px;
  font-size: var(--font-size-2xl);
}
.tv-btn-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 92.2px;
  height: 24.92px;
}
.tabular-view5 {
  position: absolute;
  top: 2.49px;
  left: 13.46px;
  line-height: 19.94px;
  font-weight: 500;
}
.tv-btn5 {
  position: absolute;
  top: 7.32px;
  left: 430.29px;
  width: 92.2px;
  height: 24.92px;
  font-size: var(--font-size-xl);
}
.faculty-schedule37 {
  position: absolute;
  top: 7.32px;
  left: 13.17px;
  font-size: var(--font-size-42xl);
  font-weight: 500;
}
.calendar-parent4 {
  position: absolute;
  top: 342px;
  left: 788.19px;
  background-color: var(--white);
  width: 627px;
  height: 472px;
  overflow: hidden;
  font-size: var(--font-size-7xs);
}
.nav-menu-parent30 {
  position: absolute;
  top: 40px;
  left: 60px;
  background-color: var(--color-whitesmoke);
  width: 1435px;
  height: 1000px;
}
.faculty-schedule110 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-black);
  font-family: var(--drop-menu-menu);
}
