{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Add Instructor{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    {% comment %} Ito ang pattern {% endcomment %}
    <h3>Instructor List</h3>
        <div class="row justify-content-md-center">
          <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
            <div class="row justify-content-md-center">
              <div class="col-md-6 mb-2">
                <h4>Instructors</h4>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-success" data-toggle="modal" data-target="#addInstructorModal">Add Instructor</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered table-hover text-center">
                  <thead>
                    <tr>
                      <th scope="col" style="color:#fff; background:#8b1001;">SR</th>
                      <th scope="col" style="color:#fff; background:#8b1001;">Faculty Name</th>
                      <th class="bg-success" scope="col" style="color:#fff;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for instructor in instructors %}
                    <tr>
                      <th scope="row">{{ instructor.userid }}</th>
                      <td>{{ instructor.firstname }} {{ instructor.middlename }} {{ instructor.lastname }}</td>
                      <td>
                        <button class="btn btn-success btn-sm btnSchedules" data-id="{{ instructor.userid }}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<div class="modal fade" id="addInstructorModal" tabindex="-1" aria-labelledby="addInstructorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add Instructor</h4>
      </div>
      <div class="modal-body">
        <div class="row"> 
          <div class="col-md-4">
            <small style="color : #5c5c5c;">Instructor ID</small>
            <input type="text" id="instructor_id" name="instructor_id" class="form-control form-control-sm">
          </div>
          <div class="col-md-4">
            <small style="color : #5c5c5c;">Username</small>
            <input type="text" id="username" name="username" class="form-control form-control-sm">
          </div>
          <div class="col-md-4">
            <small style="color : #5c5c5c;">Password</small>
            <input type="password" id="password" name="password" class="form-control form-control-sm">
          </div>
          <div class="col-md-4">
            <small style="color : #5c5c5c;">First Name</small>
            <input type="text" id="firstname" name="firstname" class="form-control form-control-sm">
          </div>
          <div class="col-md-4">
            <small style="color : #5c5c5c;">Middle Name</small>
            <input type="text" id="middlename" name="middlename" class="form-control form-control-sm">
          </div>
          <div class="col-md-4">
            <small style="color : #5c5c5c;">Last Name</small>
            <input type="text" id="lastname" name="lastname" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="btnSave" class="btn btn-success text-white">Save</button>
      </div>
      {% csrf_token %}
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#btnSave').click(function () {
      $.ajax({
        url: '{% url 'add_instructor' %}',
        method: 'POST',
        data: {
          userid: $('#instructor_id').val(),
          username: $('#username').val(),
          password: $('#password').val(),
          firstname: $('#firstname').val(),
          middlename: $('#middlename').val(),
          lastname: $('#lastname').val()
        },
        headers: {
          'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        success: function (data) {
          if (data == 'success') {
            location.reload();
          }
        }
      });
    });

    $('.btnSchedules').click(function () {
      window.location.href = 'http://localhost:8000/add_instructor_schedule?instructor_id=' + $(this).data("id");
    });
  });
</script>
{% endblock content %}