{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Add Instructor{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    <h3>Add Instructor</h3>
      <div class="row justify-content-md-center">
        <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
          <h4>*Please take note this action</h4>
            <div class="row">
              <div class="col-md-4">
                <small style="color : #5c5c5c;">Instructor ID</small>
                <input type="text" name="instructorID" class="form-control form-control-sm">
              </div>
              <div class="col-md-4">
                <small style="color : #5c5c5c;">Subject Code</small>
                <input type="text" name="subjectCode" class="form-control form-control-sm">
              </div>
              <div class="col-md-4">
                <small style="color : #5c5c5c;">Room</small>
                <input type="text" name="room" class="form-control form-control-sm">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <small style="color : #5c5c5c;">Days : </small>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-check form-control-sm">
                      <input class="form-check-input" type="checkbox" name="monday" value="monday" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Monday
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-check form-control-sm">
                      <input class="form-check-input" type="checkbox" name="tuesday" value="tuesday" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Tuesday
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-check form-control-sm">
                      <input class="form-check-input" type="checkbox" name="wednesday" value="wednesday" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Wednesday
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-check form-control-sm">
                      <input class="form-check-input" type="checkbox" name="thursday" value="thursday" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Thursday
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-check form-control-sm">
                      <input class="form-check-input" type="checkbox" name="friday" value="friday" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Friday
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-check form-control-sm">
                      <input class="form-check-input" type="checkbox" name="saturday" value="saturday" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Saturday
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-check form-control-sm">
                      <input class="form-check-input" type="checkbox" name="sunday" value="sunday" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Sunday
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <small style="color : #5c5c5c;">Time In</small>
                <input type="time" name="timeIn" class="form-control form-control-sm">
              </div>
              <div class="col-md-3">
                <small style="color : #5c5c5c;">Time Out</small>
                <input type="time" name="timeOut" class="form-control form-control-sm">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button type="button" id="frameContainer" style="width:50%; margin-left:auto; margin-right:auto;" class="btn btn-success btn-block text-white">Confirm</button>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}