{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Add User{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    <h3>Add User</h3>
      <div class="row justify-content-md-center">
        <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
          <h4>*Please take note this action</h4>
          <div class="row">
            <div class="col-md-4">
              <small style="color : #5c5c5c;">First Name</small>
              <input type="text" name="frstName" class="form-control form-control-sm">
            </div>
            <div class="col-md-4">
              <small style="color : #5c5c5c;">Middle Name</small>
              <input type="text" name="middleName" class="form-control form-control-sm">
            </div>
            <div class="col-md-4">
              <small style="color : #5c5c5c;">Last Name</small>
              <input type="text" name="lastName" class="form-control form-control-sm">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <small style="color : #5c5c5c;">ID No.</small>
              <input type="text" name="id" class="form-control form-control-sm">
            </div>
            <div class="col-md-3">
              <small style="color : #5c5c5c;">Type</small>
              <select class="form-select form-select-sm form-control form-control-sm" aria-label=".form-select-sm example" name="type">
                <option selected></option>
                <option value="student">Student</option>
                <option value="instructor">Instructor</option>
              </select>
            </div>
            <div class="col-md-3">
              <small style="color : #5c5c5c;">Username</small>
              <input type="text" name="username" class="form-control form-control-sm">
            </div>
            <div class="col-md-3">
              <small style="color : #5c5c5c;">Password</small>
              <input type="password" name="password" class="form-control form-control-sm">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <button type="button" id="frameContainer" style="width:50%; margin-left:auto; margin-right:auto;" class="btn btn-success btn-block text-white">Confirm</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}