{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Add Schedule{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    <h3>Instructor's Subject List</h3>
      <div class="row justify-content-md-center">
        <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
          <div class="row py-3">
            <div class="col-lg-8">
              <h4>*Please take note this action</h4>
            </div>
            <div class="col-lg-4">
              <div class="row">
                {% comment %} <div class="col-lg-6">
                  <select class="form-control form-control-sm" style="height : 39px;">
                    <option>Type</option>
                    <option>Student</option>
                    <option>Faculty</option>
                  </select>
                </div> {% endcomment %}
                <div class="col-lg-12">
                  <button type="button" id="addSchedule" style="width : 100%" class="btn btn-success float-right" data-toggle="modal" data-target="#scheduleModal">
                    Add Subject
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row"> 
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">College</small>
                      <select name="college" id="college" class="form-control form-control-sm" >
                        <option></option>
                      </select>
                    </div>
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Academic Year</small>
                        <select name="academic_year" id="academic_year" class="form-control form-control-sm" >
                          <option></option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Section</small>
                        <select name="section" id="section" class="form-control form-control-sm" >
                          <option></option>
                        </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Semester</small>
                        <select name="semester" id="semester" class="form-control form-control-sm" >
                          <option></option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Subject Code</small>
                        <select name="subject_code" id="subject_code" class="form-control form-control-sm" >
                          <option></option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Subject Name</small>
                        <input type="text" name="subject_name" id="subject_name" class="form-control form-control-sm" readonly>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Unit</small>
                        <input type="number" name="unit" id="unit" class="form-control form-control-sm">
                    </div>
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Hours</small>
                        <input type="number" name="hours" id="hours" class="form-control form-control-sm">
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Campus</small>
                      <input type="text" name="campus" id="campus" class="form-control form-control-sm">
                  </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="button" id="btnConfirm" class="btn btn-success text-white">Confirm</button>
                </div>
                {% csrf_token %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col" style="color:#fff; background:#8b1001;">College</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Academic Year</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Section</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Unit</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Campus</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Semester</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for instructor in instructors %}
                  <tr>
                    <th scope="row">{{ instructor.instructor_id }}</th>
                    <td>{{ instructor.first_name }} {{ instructor.last_name }}</td>
                    {% if instructor.type == 'fulltime' %}
                    <td>Full-time</td>
                    {% else %}
                    <td>Part-time</td>
                    {% endif %}
                    <td><button class="btn btn-success btn-sm addInstructorSchedule"><i class="fa fa-plus" aria-hidden="true"></i></button></td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#addSchedule").click(function () {
      $('#scheduleModal').modal('toggle');
    });

    $('#partime').click(function() {
      if($(this).is(':checked')) {
        $('#timein').prop('disabled', false);
        $('#timeout').prop('disabled', false);
      } else {
        $('#timein').prop('disabled', true);
        $('#timeout').prop('disabled', true);
      }
    });

    $('#btnConfirm').click(function () {
      if ($('#partime').is(':checked')) {
        if ($('#timein').val() == '' || $('#timeout').val() == '') {
          alert('Please input Time In and Time out.');
        }
        else {
          $.ajax({
            url: 'add_schedule',
            method: 'POST',
            data: {
              instructor_id: $('#instuctorid').val(),
              first_name: $('#firstName').val(),
              last_name: $('#lastName').val(),
              type: 'parttime',
              time_in: $('#timein').val(),
              timeout: $('#timeout').val()
            },
            headers: {
              'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function (data) {
              alert(data)
            }
          });
        }
      } else {
        $.ajax({
          url: 'add_schedule',
          method: 'POST',
          data: {
            instructor_id: $('#instuctorid').val(),
            first_name: $('#firstName').val(),
            last_name: $('#lastName').val(),
            type: 'fulltime',
            time_in: $('#timein').val(),
            timeout: $('#timeout').val()
          },
          headers: {
            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
          },
          success: function (data) {
            alert(data)
          }
        });
      }
    });


  });

</script>
{% endblock content %}