{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Add Instructor{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    <h3>Add Schedule</h3>
      <div class="row justify-content-md-center">
        <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
          <h4>*Please take note this action</h4>
          <div class="row">
            <div class="col-md-4">
              <small style="color : #5c5c5c;">New Password</small>
              <input type="password" class="form-control form-control-sm">
            </div>
            <div class="col-md-4">
              <small style="color : #5c5c5c;">Confirm New Password</small>
              <input type="password" class="form-control form-control-sm">
            </div>
            <div class="col-md-4">
              <small style="color : #5c5c5c;">Confirm</small>
              <button type="button" id="frameContainer" class="btn btn-warning btn-block">Confirm</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}