{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Add Instructor{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    <h3>Schedule List</h3>
      <div class="row justify-content-md-center">
        <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
          <div class="row py-3">
            <div class="col-lg-8">
              <h4>*Please take note this action</h4>
            </div>
            <div class="col-lg-4">
              <div class="row">
                {% comment %} <div class="col-lg-6">
                  <select class="form-control form-control-sm" style="height : 39px;">
                    <option>Type</option>
                    <option>Student</option>
                    <option>Faculty</option>
                  </select>
                </div> {% endcomment %}
                <div class="col-lg-12">
                  <button type="button" id="addSchedule" style="width : 100%" class="btn btn-success float-right" data-toggle="modal" data-target="#scheduleModal">
                    Add Schedule
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row"> 
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Instructor ID</small>
                      <select class="form-control form-control-sm" id="instructor">
                        <option></option>
                        {% for instructor in instructors %}
                          <option>{{ instructor.userid }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">First Name</small>
                      <input type="text" name="firstName" id="firstName" class="form-control form-control-sm" readonly >
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Last Name</small>
                      <input type="text" name="lastName" id="lastName" class="form-control form-control-sm" readonly >
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Section ID</small>
                      <select class="form-control form-control-sm">
                        <option></option>
                        <option>2018-00076-UQ-0</option>
                        <option>2018-00076-UQ-1</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Subject Code</small>
                      <select class="form-control form-control-sm">
                        <option></option>
                        <option>GEED-999</option>
                        <option>COMP-000</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Room</small>
                      <select class="form-control form-control-sm">
                        <option></option>
                        <option>101</option>
                        <option>102</option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <small style="color : #5c5c5c;">Days : </small>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" name="monday" value="monday" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Monday
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" name="tuesday" value="tuesday" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Tuesday
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" name="wednesday" value="wednesday" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Wednesday
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" name="thursday" value="thursday" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Thursday
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" name="friday" value="friday" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Friday
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" name="saturday" value="saturday" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Saturday
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" name="sunday" value="sunday" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Sunday
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <small style="color : #5c5c5c;">Time In</small>
                      <input type="time" name="timeIn" class="form-control form-control-sm">
                    </div>
                    <div class="col-md-3">
                      <small style="color : #5c5c5c;">Time Out</small>
                      <input type="time" name="timeOut" class="form-control form-control-sm">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="button" id="frameContainer" class="btn btn-success text-white">Confirm</button>
                </div>
                {% csrf_token %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col" style="color:#fff; background:#8b1001;">Name</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Instructor ID</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Subject Code</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Room</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Days</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Time In/Out</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Night Stalker</th>
                    <td>2018-00076-UQ-0</td>
                    <td>GEED-999</td>
                    <td>101</td>
                    <td>Mon, Wed, Fri</td>
                    <td>8:00 AM - 1:00 PM</td>
                    <td><button class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#addSchedule").click(function () {
      $('#scheduleModal').modal('toggle');
    });

    $('#instructor').change(function () {
      console.log($(this).val());
      $.ajax({
        url: '{% url 'populate_name' %}',
        method: 'POST',
        data: {
          userid: $(this).val()
        },
        headers: {
          'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        success: function (data) {
          $('#firstName').val(data.instructor[0].fields.firstname);
          $('#lastName').val(data.instructor[0].fields.lastname);
        }
      });
    });
  });
</script>
{% endblock content %}