{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Add Instructor{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    <h3>Schedule List</h3>
      <div class="row justify-content-md-center">
        <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
          <div class="row py-3">
            <div class="col-lg-8">
              <h4>*Please take note this action</h4>
            </div>
            <div class="col-lg-4">
              <div class="row">
                {% comment %} <div class="col-lg-6">
                  <select class="form-control form-control-sm" style="height : 39px;">
                    <option>Type</option>
                    <option>Student</option>
                    <option>Faculty</option>
                  </select>
                </div> {% endcomment %}
                <div class="col-lg-12">
                  <button type="button" id="addSchedule" style="width : 100%" class="btn btn-success float-right" data-toggle="modal" data-target="#scheduleModal">
                    Add Instructor
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row"> 
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Instructor ID</small>
                      <input type="text" name="instuctorid" id="instuctorid" class="form-control form-control-sm" >
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">First Name</small>
                      <input type="text" name="firstName" id="firstName" class="form-control form-control-sm" >
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Last Name</small>
                      <input type="text" name="lastName" id="lastName" class="form-control form-control-sm" >
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-3">
                      <small style="color : #5c5c5c;">Type : </small>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" name="fulltime" value="fulltime" id="fulltime">
                            <label class="form-check-label" for="flexCheckDefault">
                              Full-time
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" name="partime" value="partime" id="partime">
                            <label class="form-check-label" for="flexCheckDefault">
                              Part-time
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <small style="color : #5c5c5c;">Days</small>
                      <select name="days" id="days" class="form-control form-control-sm" disabled>
                        <option></option>
                        <option value="m_">Monday</option>
                        <option value="t_">Tuesday</option>
                        <option value="w_">Wednesday</option>
                        <option value="th_">Thursday</option>
                        <option value="f_">Friday</option>
                        <option value="s_">Saturday</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <small style="color : #5c5c5c;">Time Availability (IN)</small>
                      <select name="timein" id="timein" class="form-control form-control-sm" disabled>
                        <option></option>
                        <option value="1">6:00 AM</option>
                        <option value="3">7:00 AM</option>
                        <option value="5">8:00 AM</option>
                        <option value="7">9:00 AM</option>
                        <option value="9">10:00 AM</option>
                        <option value="11">11:00 AM</option>
                        <option value="13">12:00 PM</option>
                        <option value="15">1:00 PM</option>
                        <option value="17">2:00 PM</option>
                        <option value="19">3:00 PM</option>
                        <option value="21">4:00 PM</option>
                        <option value="23">5:00 PM</option>
                        <option value="25">6:00 PM</option>
                        <option value="27">7:00 PM</option>
                        <option value="29">8:00 PM</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <small style="color : #5c5c5c;">(OUT)</small>
                      <select name="timeout" id="timeout" class="form-control form-control-sm" disabled>
                        <option></option>
                        <option value="1">6:00 AM</option>
                        <option value="3">7:00 AM</option>
                        <option value="5">8:00 AM</option>
                        <option value="7">9:00 AM</option>
                        <option value="9">10:00 AM</option>
                        <option value="11">11:00 AM</option>
                        <option value="13">12:00 PM</option>
                        <option value="15">1:00 PM</option>
                        <option value="17">2:00 PM</option>
                        <option value="19">3:00 PM</option>
                        <option value="21">4:00 PM</option>
                        <option value="23">5:00 PM</option>
                        <option value="25">6:00 PM</option>
                        <option value="27">7:00 PM</option>
                        <option value="29">8:00 PM</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">College</small>
                      <select name="college" id="college" class="form-control form-control-sm" >
                        <option></option>
                        {% for program in programs %}
                        <option>{{ program.program_code }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Academic Year</small>
                      <select name="academic_year" id="academic_year" class="form-control form-control-sm" >
                        <option></option>
                        <option value="1">1st Year</option>
                        <option value="2">2nd Year</option>
                        <option value="3">3rd Year</option>
                        <option value="4">4th Year</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Section</small>
                      <select name="section" id="section" class="form-control form-control-sm" >
                        <option></option>
                        {% for section in sections %}
                        <option>{{ section.section_code }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Semester</small>
                        <select name="semester" id="semester" class="form-control form-control-sm" >
                          <option></option>
                          <option value="1">1st Semester</option>
                          <option value="2">2nd Semester</option>
                          <option value="3">Summer</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Subject Code</small>
                        <select name="subject_code" id="subject_code" class="form-control form-control-sm" >
                          <option></option>
                          {% for subject in subjects %}
                          <option>{{ subject.subject_code }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Subject Name</small>
                        <input type="text" name="subject_name" id="subject_name" class="form-control form-control-sm" readonly>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Units</small>
                        <input type="number" name="units" id="units" class="form-control form-control-sm">
                    </div>
                    <div class="col-md-4">
                        <small style="color : #5c5c5c;">Room</small>
                        <select name="room" id="room" class="form-control form-control-sm" >
                          <option></option>
                          {% for room in rooms %}
                          <option>{{ room.room }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                      <small style="color : #5c5c5c;">Campus</small>
                      <input type="text" name="campus" id="campus" class="form-control form-control-sm">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="button" id="btnConfirm" class="btn btn-success text-white">Confirm</button>
                </div>
                {% csrf_token %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col" style="color:#fff; background:#8b1001;">Instructor ID</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Name</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Type</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">College</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Year</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Section</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Semester</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Subject</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Units</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Room</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Campus</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for instructor in instructors %}
                  <tr>
                    <th scope="row">{{ instructor.instructor_id }}</th>
                    <td>{{ instructor.first_name }} {{ instructor.last_name }}</td>
                    {% if instructor.type == 'fulltime' %}
                    <td>Full-time</td>
                    {% else %}
                    <td>Part-time</td>
                    {% endif %}
                    <td>{{ instructor.college }}</td>
                    <td>{{ instructor.academic_year }}</td>
                    <td>{{ instructor.section }}</td>
                    <td>{{ instructor.semester }}</td>
                    <td>{{ instructor.subject_code }}</td>
                    <td>{{ instructor.units }}</td>
                    <td>{{ instructor.room }}</td>
                    <td>{{ instructor.campus }}</td>
                    <td><button class="btn btn-danger btn-sm btnRemove" data-id="{{ instructor.id }}"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script>
  $(document).ready(function () {

    $("#subject_code").change(function () {
      $.ajax({
        url: 'populate_subject',
        method: 'POST',
        data: {
          subject_code: $(this).val()
        },
        headers: {
          'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        success: function (data) {
          $("#subject_name").val(data);
        }
      });
    });

    $(".btnRemove").click(function () {
      $.ajax({
        url: 'delete_subject',
        method: 'POST',
        data: {
          id: $(this).data('id')
        },
        headers: {
          'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        success: function (data) {
          location.reload()
        }
      })
    });

    $("#addSchedule").click(function () {
      $('#scheduleModal').modal('toggle');
    });

    $('#partime').click(function() {
      if($(this).is(':checked')) {
        $('#fulltime').prop('checked', false);
        $('#days').prop('disabled', false);
        $('#timein').prop('disabled', false);
        $('#timeout').prop('disabled', false);
      } else {
        $('#days').prop('disabled', true);
        $('#timein').prop('disabled', true);
        $('#timeout').prop('disabled', true);
      }
    });

    $('#fulltime').click(function() {
      if($(this).is(':checked')) {
        $('#partime').prop('checked', false);
        $('#days').prop('disabled', true);
        $('#timein').prop('disabled', true);
        $('#timeout').prop('disabled', true);
      }
    });

    $('#btnConfirm').click(function () {
      if ($('#partime').is(':checked')) {
        if ($('#timein').val() == '' || $('#timeout').val() == '') {
          alert('Please input Time In and Time out.');
        }
        else {
          $.ajax({
            url: 'add_schedule',
            method: 'POST',
            data: {
              instructor_id: $('#instuctorid').val(),
              first_name: $('#firstName').val(),
              last_name: $('#lastName').val(),
              type: 'parttime',
              days: $('#days').val(),
              time_in: $('#timein').val(),
              time_out: $('#timeout').val(),
              college: $('#college').val(),
              year: $('#academic_year').val(),
              section: $('#section').val(),
              semester: $('#semester').val(),
              subject_code: $('#subject_code').val(),
              units: $('#units').val(),
              room: $('#room').val(),
              campus: $('#campus').val()
            },
            headers: {
              'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function (data) {
              alert(data)
              location.reload()
            }
          });
        }
      } else {
        $.ajax({
          url: 'add_schedule',
          method: 'POST',
          data: {
            instructor_id: $('#instuctorid').val(),
            first_name: $('#firstName').val(),
            last_name: $('#lastName').val(),
            type: 'fulltime',
            days: $('#days').val(),
            time_in: $('#timein').val(),
            timeout: $('#timeout').val(),
            college: $('#college').val(),
            year: $('#academic_year').val(),
            section: $('#section').val(),
            semester: $('#semester').val(),
            subject_code: $('#subject_code').val(),
            units: $('#units').val(),
            room: $('#room').val(),
            campus: $('#campus').val()
          },
          headers: {
            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
          },
          success: function (data) {
            alert(data)
            location.reload()
          }
        });
      }
    });


  });

</script>
{% endblock content %}