{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Add Student{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
      <div class="row justify-content-md-center">
        <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
          <div class="row py-3">
            <div class="col-lg-8">
                {% for user in users %}
                <h4>{{ user.firstname }} {{ user.lastname }} Schedule List</h4>
                {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col" style="color:#fff; background:#8b1001;">Subject Code</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Room</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Section</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Day</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Time In/Out</th>
                    {% if student.status == 'irregular' %}
                    <th scope="col" style="color:#fff; background:#8b1001;">Action</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for schedule in schedules %}
                  <tr>
                    <td>{{ schedule.subject_code }}</td>
                    <td>{{ schedule.room }}</td>
                    <td>{{ schedule.section_code }}</td>
                    <td>{{ schedule.days|capfirst }}</td>
                    <td>{{ schedule.time_in|date:"g:i A" }} - {{ schedule.time_out|date:"g:i A" }}</td>
                    {% if student.status == 'irregular' %}
                    <td>
                      <button class="btn btn-danger btn-sm btnDeleteSchedule" title="Delete this data" data-id="{{ schedule.id }}"><i class="fa fa-times" aria-hidden="true"></i></button>
                      {% csrf_token %}
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script>
  $(document).ready(function () {

    $('.btnDeleteSchedule').click(function () {
      $.ajax({
        url: '{% url 'delete_student_schedule' %}',
        method: 'POST',
        data: {
          id: $(this).data('id'),
        },
        headers: {
          'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        success: function (data) {
          location.reload();
        }
      });
    });
  });
</script>
{% endblock content %}