{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Generate Schedule{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    <h3>Generate Schedule</h3>
        <div class="row justify-content-md-center mt-2">
          <div class="col-md-10 py-3 bg-light ml-1" style="border: 1px solid black; border-radius: 5px;">
            <div class="row py-3">
                <div class="col-md-8">
                  <h4>*Please take note this action</h4>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    {% comment %} <div class="col-lg-6">
                      <select class="form-control form-control-sm" style="height : 39px;">
                        <option>Type</option>
                        <option>Student</option>
                        <option>Faculty</option>
                      </select>
                    </div> {% endcomment %}
                    <div class="col-md-6">
                        <button type="button" id="btnGenerateSchedule" style="width : 100%" class="btn btn-primary float-right" data-toggle="modal" data-target="#scheduleModal">
                          Generate
                        </button>
                      </div>
                    <div class="col-md-6">
                      <button type="button" id="addSchedule" style="width : 100%" class="btn btn-success float-right" data-toggle="modal" data-target="#scheduleModal">
                        Publish
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            {% comment %} <button class="btn btn-warning btn-sm __top-right_link" id="tabularView">Generate</button>
            <button class="btn btn-success btn-sm __top-right_link" id="calendarView">Publish</button> {% endcomment %}
            {% comment %} <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered table-hover text-center" id="tblTabular">
                  <thead>
                    <tr>
                      <th scope="col" style="color:#fff; background:#8b1001;">Code</th>
                      <th class="bg-success" scope="col" style="color:#fff;">Description</th>
                      <th scope="col" style="color:#fff; background:#8b1001;">Units</th>
                      <th scope="col" style="color:#fff; background:#8b1001;">Schedule</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for schedule in schedules %}
                    <tr>
                      <th scope="row">{{ schedule.subject_code }}</th>
                      <td>{{ schedule.subject_name }}</td>
                      <td>{{ schedule.units }}</td>
                      <td>{{ schedule.room }} ({{ schedule.days|capfirst }} {{ schedule.time_in }}-{{ schedule.time_out }})</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div> {% endcomment %}

            <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered text-center" id="tblCalendar">
                  <thead>
                    <tr>
                      <th class="bg-success" scope="col" style="color:#fff; width:10%;">Time</th>
                      <th scope="col" style="color:#fff; background:#8b1001; width:15%;">Monday</th>
                      <th scope="col" style="color:#fff; background:#8b1001; width:15%;">Tuesday</th>
                      <th scope="col" style="color:#fff; background:#8b1001; width:15%;">Wednesday</th>
                      <th scope="col" style="color:#fff; background:#8b1001; width:15%;">Thursday</th>
                      <th scope="col" style="color:#fff; background:#8b1001; width:15%;">Friday</th>
                      <th scope="col" style="color:#fff; background:#8b1001; width:15%;">Saturday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="p-1">6:00 AM</td>
                      <td class="p-1" id="m_1"></td>
                      <td class="p-1" id="t_1"></td>
                      <td class="p-1" id="w_1"></td>
                      <td class="p-1" id="th_1"></td>
                      <td class="p-1" id="f_1"></td>
                      <td class="p-1" id="s_1"></td>
                    </tr>
                    <tr>
                      <td class="p-1">7:00 AM</td>
                      <td class="p-1" id="m_3"></td>
                      <td class="p-1" id="t_3"></td>
                      <td class="p-1" id="w_3"></td>
                      <td class="p-1" id="th_3"></td>
                      <td class="p-1" id="f_3"></td>
                      <td class="p-1" id="s_3"></td>
                    </tr>
                    <tr>
                      <td class="p-1">8:00 AM</td>
                      <td class="p-1" id="m_5"></td>
                      <td class="p-1" id="t_5"></td>
                      <td class="p-1" id="w_5"></td>
                      <td class="p-1" id="th_5"></td>
                      <td class="p-1" id="f_5"></td>
                      <td class="p-1" id="s_5"></td>
                    </tr>
                    <tr>
                      <td class="p-1">9:00 AM</td>
                      <td class="p-1" id="m_7"></td>
                      <td class="p-1" id="t_7"></td>
                      <td class="p-1" id="w_7"></td>
                      <td class="p-1" id="th_7"></td>
                      <td class="p-1" id="f_7"></td>
                      <td class="p-1" id="s_7"></td>
                    </tr>
                    <tr>
                      <td class="p-1">10:00 AM</td>
                      <td class="p-1" id="m_9"></td>
                      <td class="p-1" id="t_9"></td>
                      <td class="p-1" id="w_9"></td>
                      <td class="p-1" id="th_9"></td>
                      <td class="p-1" id="f_9"></td>
                      <td class="p-1" id="s_9"></td>
                    </tr>
                    <tr>
                      <td class="p-1">11:00 AM</td>
                      <td class="p-1" id="m_11"></td>
                      <td class="p-1" id="t_11"></td>
                      <td class="p-1" id="w_11"></td>
                      <td class="p-1" id="th_11"></td>
                      <td class="p-1" id="f_11"></td>
                      <td class="p-1" id="s_11"></td>
                    </tr>
                    <tr>
                      <td class="p-1">12:00 PM</td>
                      <td class="p-1" id="m_13"></td>
                      <td class="p-1" id="t_13"></td>
                      <td class="p-1" id="w_13"></td>
                      <td class="p-1" id="th_13"></td>
                      <td class="p-1" id="f_13"></td>
                      <td class="p-1" id="s_13"></td>
                    </tr>
                    <tr>
                      <td class="p-1">1:00 PM</td>
                      <td class="p-1" id="m_15"></td>
                      <td class="p-1" id="t_15"></td>
                      <td class="p-1" id="w_15"></td>
                      <td class="p-1" id="th_15"></td>
                      <td class="p-1" id="f_15"></td>
                      <td class="p-1" id="s_15"></td>
                    </tr>
                    <tr>
                      <td class="p-1">2:00 PM</td>
                      <td class="p-1" id="m_17"></td>
                      <td class="p-1" id="t_17"></td>
                      <td class="p-1" id="w_17"></td>
                      <td class="p-1" id="th_17"></td>
                      <td class="p-1" id="f_17"></td>
                      <td class="p-1" id="s_17"></td>
                    </tr>
                    <tr>
                      <td class="p-1">3:00 PM</td>
                      <td class="p-1" id="m_19"></td>
                      <td class="p-1" id="t_19"></td>
                      <td class="p-1" id="w_19"></td>
                      <td class="p-1" id="th_19"></td>
                      <td class="p-1" id="f_19"></td>
                      <td class="p-1" id="s_19"></td>
                    </tr>
                    <tr>
                      <td class="p-1">4:00 PM</td>
                      <td class="p-1" id="m_21"></td>
                      <td class="p-1" id="t_21"></td>
                      <td class="p-1" id="w_21"></td>
                      <td class="p-1" id="th_21"></td>
                      <td class="p-1" id="f_21"></td>
                      <td class="p-1" id="s_21"></td>
                    </tr>
                    <tr>
                      <td class="p-1">5:00 PM</td>
                      <td class="p-1" id="m_23"></td>
                      <td class="p-1" id="t_23"></td>
                      <td class="p-1" id="w_23"></td>
                      <td class="p-1" id="th_23"></td>
                      <td class="p-1" id="f_23"></td>
                      <td class="p-1" id="s_23"></td>
                    </tr>
                    <tr>
                      <td class="p-1">6:00 PM</td>
                      <td class="p-1" id="m_25"></td>
                      <td class="p-1" id="t_25"></td>
                      <td class="p-1" id="w_25"></td>
                      <td class="p-1" id="th_25"></td>
                      <td class="p-1" id="f_25"></td>
                      <td class="p-1" id="s_25"></td>
                    </tr>
                    <tr>
                      <td class="p-1">7:00 PM</td>
                      <td class="p-1" id="m_27"></td>
                      <td class="p-1" id="t_27"></td>
                      <td class="p-1" id="w_27"></td>
                      <td class="p-1" id="th_27"></td>
                      <td class="p-1" id="f_27"></td>
                      <td class="p-1" id="s_27"></td>
                    </tr>
                    <tr>
                      <td class="p-1">8:00 PM</td>
                      <td class="p-1" id="m_29"></td>
                      <td class="p-1" id="t_29"></td>
                      <td class="p-1" id="w_29"></td>
                      <td class="p-1" id="th_29"></td>
                      <td class="p-1" id="f_29"></td>
                      <td class="p-1" id="s_29"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  </div>
</div>
{% csrf_token %}
<script>
  $(document).ready(function () {
    $('#btnGenerateSchedule').click(function () {
      const subjects = [
        {
            name: 'Mathematics',
            units: 3
        },
        {
            name: 'Physics',
            units: 1
        },
        {
            name: 'English',
            units: 1
        },
        {
            name: 'History',
            units: 2
        },
        {
            name: 'Chemistry',
            units: 3
        },
        {
            name: 'Lab Room',
            units: 3
        },
      ];

    let timeSlots = [
      {
        day: 'm_',
        time: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 26, 27, 28, 29]
      },
      {
        day: 't_',
        time: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 26, 27, 28, 29]
      },
      {
        day: 'w_',
        time: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 26, 27, 28, 29]
      },
      {
        day: 'th_',
        time: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 26, 27, 28, 29]
      },
      {
        day: 'f_',
        time: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 26, 27, 28, 29]
      },
      {
        day: 's_',
        time: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 26, 27, 28, 29]
      },

    ];

    const prof = [
      {
          name: "A",
          type: 'Full Time',
          subject: ['Mathematics', 'Physics'],
          availability: []
      },
      {
          name: "B",
          type: 'Part Time',
          subject: ['English'],
          availability: [
            {
              day: 't_',
              time: [9, 11]
            }
          ]
      },
      {
          name: "C",
          type: 'Part Time',
          subject: ['History'],
          availability: [
            {
              day: 'm_',
              time: [
                      15, 17, 19,
                    ]
            }
          ]
      },
      {
          name: "D",
          type: 'Part Time',
          subject: ['Chemistry'],
          availability: [
              {
                day: 'm_',
                time: [7, 9, 11, 13]
              },
              {
                day: 'w_',
                time: [17, 19]
              }
          ]
      },
      {
          name: "E",
          type: 'Full Time',
          subject: ['Lab Room'],
          availability: []
      },
    ]
      restartTable()
      let partTimers = []

      for(let i = 0; i < prof.length; i++){  //Get all part timer and store to another array
        if(prof[i].type == 'Part Time'){
            partTimers.push(prof[i])
        }
      }

      for(let a = prof.length - 1; a >= 0; a--){  // Remove all part timer from prof array
        if(prof[a].type == 'Part Time'){
            prof.splice(a, 1)
        }
      }

      const sortedPartTimers = partTimers.sort((a, b) => a.availability.length - b.availability.length); // sort part timer array then store it in another array sortedPartTimers
      let schedule = []

      for(let i = 0; i < sortedPartTimers.length; i++){ //loop through sortedPartTimers
        let tempSubject = []
        for(let x = 0; x < sortedPartTimers[i].availability.length; x++){
          
          for(let y = timeSlots.length - 1; y >= 0 ; y--){
              if(sortedPartTimers[i].availability[x].day == timeSlots[y].day){
                let timeArr = []
                for(let j = 0; j < sortedPartTimers[i].availability[x].time.length; j++){
                  for(let k = timeSlots[y].time.length; k >= 0; k--){
                    if(sortedPartTimers[i].availability[x].time[j] == timeSlots[y].time[k]){
                      timeArr.push(sortedPartTimers[i].availability[x].time[j])
                      timeSlots[y].time.splice(k, 1)
                    }
                  }
                }
                tempSubject.push(
                  {
                    day: timeSlots[y].day,
                    time: timeArr,
                    start: timeArr[0],
                    end: timeArr[timeArr.length - 1],
                  }
                )
                  //timeSlots.splice(y, 1)
              }
          }
        }
        for(let j = 0; j < sortedPartTimers[i].subject.length; j++){ //loop through subject
            schedule.push(
                {
                    subject: sortedPartTimers[i].subject[j],
                    profesor: sortedPartTimers[i].name,
                    units: returnNoUnits(sortedPartTimers[i].subject[j]),
                    schedule: tempSubject
                }
            )
        }
        tempSubject = []
      }
      //console.log(timeSlots)
      for(let i = 0; i < schedule.length; i++){
        for(let j = 0; j < schedule[i].schedule.length; j++){
          for(let k = 0; k < schedule[i].schedule[j].time.length; k++){
            //console.log(`${schedule[i].schedule[j].day}_${schedule[i].schedule[j].time[k]}`)
            if(k == 0){
              $(`#${schedule[i].schedule[j].day}${schedule[i].schedule[j].time[k]}`).empty()
              $(`#${schedule[i].schedule[j].day}${schedule[i].schedule[j].time[k]}`).removeAttr(`rowspan`)
            }
            else{
              $(`#${schedule[i].schedule[j].day}${schedule[i].schedule[j].time[k]}`).show()
            }
          }
        }
      }

      for(let i = 0; i < schedule.length; i++){
        for(let j = 0; j < schedule[i].schedule.length; j++){
          for(let k = 0; k < schedule[i].schedule[j].time.length; k++){
            //console.log(`${schedule[i].schedule[j].day}_${schedule[i].schedule[j].time[k]}`)
            if(k == 0){
              $(`#${schedule[i].schedule[j].day}${schedule[i].schedule[j].time[k]}`).html(`<p style="margin-bottom : 0px;">${schedule[i].subject}</p><p style="font-size : 12px;">Profesor ${schedule[i].profesor}</p>`)
              $(`#${schedule[i].schedule[j].day}${schedule[i].schedule[j].time[k]}`).attr(`rowspan`, schedule[i].schedule[j].time.length)
            }
            else{
              $(`#${schedule[i].schedule[j].day}${schedule[i].schedule[j].time[k]}`).hide()
            }
          }
        }
      }
      console.log(timeSlots)
      // console.log(prof)

      //------------------------------Full Timer-------------------------------

      let schedule2 = []
      for(let i = 0; i < prof.length; i++){ //loop through profesor
        let tempSubject = []
        for(let j = 0; j < prof[i].subject.length; j++){ //loop through subject
          schedule2.push(
            {
              subject: prof[i].subject[j],
              profesor: prof[i].name,
              units: returnNoUnits(prof[i].subject[j]),
              schedule: tempSubject
            }
          )
        }
        tempSubject = []
      }
      let finalSched = []
      //console.log(schedule2)
      for(let i = 0; i < schedule2.length; i++){
        let SchedTemp = []
        let tempSched = []
        let availTimeSlots = []
        let tempRand = []
        let check = 0
        while(check == 0){
          check = 1
          tempSched = dayRandom(timeSlots)
          tempRand = getRandomConsecutiveElements(tempSched.time, schedule2[i].units + 1)
          if(checkTimeSlot(tempSched, schedule2[i].units) == true){
            for(let j = 0; j < tempRand.length - 1; j++){
              if(tempRand[j] + 2 !=  tempRand[j + 1]){
                check = 0
              }
            }
          }
        }
        // console.log(tempSched)
        // //console.log(checkTimeSlot(tempSched, schedule2[i].units))
        // console.log(tempRand)
        // console.log(removeTimeSlots(tempSched.time, tempRand))
        // let index = returnIndex(timeSlots, tempSched)
        // timeSlots[index].time = removeTimeSlots(tempSched.time, tempRand)
        // console.log(timeSlots)
        SchedTemp.push(
          {
            day: tempSched.day,
            time: tempRand,
            start: tempRand[0],
            end: tempRand[tempRand.length - 1],
          }
        )
        finalSched.push(
          {
            subject: schedule2[i].subject,
            profesor: schedule2[i].profesor,
            units: schedule2[i].units,
            schedule: SchedTemp
          }
        )
      }
      
      console.log(schedule.concat(finalSched))
      
      function returnIndex(array, values){
        let index = 0
        for(let i = 0; i < array.length; i++){
          if(array[i] == values){
            index = i
            break
          }
        }
        return index
      }
      function dayRandom(timeSlots){
        const randomIndex = Math.floor(Math.random() * timeSlots.length);
        const randomElement = timeSlots[randomIndex];

        return randomElement
      }

      function checkTimeSlot(day, units){
        let val = false
        if(day.time.length != 0 && day.time.length >= units + 1){
          val= true
        }

        return val
      }

      function removeTimeSlots(original, generated){
        let new_time_slot = []
        for(let i = 0; i < original.length; i++){
          if (!generated.includes(original[i])) {
            new_time_slot.push(original[i])
          }
        }
        return new_time_slot
      }

      function test(arr, num){
        let check2 = []
            for(let x = 0; x < arr.length; x++){
                if(arr[x] + 2 == arr[x + 1]){
                    check2.push(arr[x])
                    if(check2.length == num){
                        break
                    }
                }
                else{
                    check2.push(arr[x])
                    if(check2.length == num){
                        break
                    }
                    else{
                        check2 = []
                        //break
                    }
                }
            }
            return check2
      }
      function getRandomConsecutiveElements(array, units) {
        const startIndex = Math.floor(Math.random() * (array.length - 2));
        //const consecutiveElements = array.splice(startIndex, 5);
        let temp = []
        let consecutiveElements = array.filter(element=> element == startIndex)
        //console.log(consecutiveElements)
        if(consecutiveElements.length == 0){
          consecutiveElements[0] = 1
        }
        while(consecutiveElements[0] > 0){
          let num = 0
          if(consecutiveElements[0] == 1){
            num = units + 1
          }
          else{
            num = units
          }
          for(let i = array.indexOf(consecutiveElements[0]); i < array.indexOf(startIndex) + num; i++){
              temp.push(array[i])
          }
          break
        }
        // if(consecutiveElements[0] > 0){
        //     for(let i = array.indexOf(consecutiveElements[0]); i < array.indexOf(startIndex) + 5; i++){
        //       temp.push(array[i])
        //   }
        // }else{
        //   console.log(`Original array ${array}`)
        //   getRandomConsecutiveElements(array, units)
        // }
        
        // /console.log(consecutiveElements)
        // for(let i = 0; i < consecutiveElements.length; i++){
        //   if(i != consecutiveElements.length - 1){
        //     if(consecutiveElements[i] + 2 != consecutiveElements[i + 1]){
        //       array.splice(startIndex, 0, ...consecutiveElements)
        //       getRandomConsecutiveElements(array, units)
        //       break
        //     }
        //   }
        // }
        return temp;
      }

      // Example usage



      // console.log(timeSlots)
      // console.log(schedule2)
      for(let i = 0; i < finalSched.length; i++){
        for(let j = 0; j < finalSched[i].schedule.length; j++){
          for(let k = 0; k < finalSched[i].schedule[j].time.length; k++){
            if(k == 0){
              $(`#${finalSched[i].schedule[j].day}${finalSched[i].schedule[j].time[k]}`).empty()
              $(`#${finalSched[i].schedule[j].day}${finalSched[i].schedule[j].time[k]}`).removeAttr(`rowspan`)
            }
            else{
              $(`#${finalSched[i].schedule[j].day}${finalSched[i].schedule[j].time[k]}`).show()
            }
          }
        }
      }
      for(let i = 0; i < finalSched.length; i++){
        for(let j = 0; j < finalSched[i].schedule.length; j++){
          for(let k = 0; k < finalSched[i].schedule[j].time.length; k++){
            if(k == 0){
              $(`#${finalSched[i].schedule[j].day}${finalSched[i].schedule[j].time[k]}`).html(`<p style="margin-bottom : 0px;">${finalSched[i].subject}</p><p style="font-size : 12px;">Profesor ${finalSched[i].profesor}</p>`)
              $(`#${finalSched[i].schedule[j].day}${finalSched[i].schedule[j].time[k]}`).attr(`rowspan`, finalSched[i].schedule[j].time.length)
            }
            else{
              $(`#${finalSched[i].schedule[j].day}${finalSched[i].schedule[j].time[k]}`).hide()
            }
          }
        }
      }

      function returnNoUnits(subject){
        let unit = 0
        for(let i = 0; i < subject.length; i++){
          if(subject == subjects[i].name){
            unit = subjects[i].units
            break
          }
        }
        return unit
      }
      function restartTable(){
        let days = ['m_', 't_', 'w_', 'th_', 'f_', 's_']
        for(let j = 0; j < days.length; j++){
          for(let i = 1; i <= 29; i = i + 2){
            $(`#${days[j]}${i}`).show()
            $(`#${days[j]}${i}`).empty()
            $(`#${days[j]}${i}`).removeAttr('rowspan')
          }
        }
      }
    })
  });

  
  function DayConversion(day) {
    let day_convert = '';
    if (day == 'monday') {
      day_convert = 'm';
    } else if (day == 'tuesday') {
      day_convert = 't';
    } else if (day == 'wednesday') {
      day_convert = 'w';
    } else if (day == 'thursday') {
      day_convert = 'th';
    } else if (day == 'friday') {
      day_convert = 'f';
    } else if (day == 'saturday') {
      day_convert = 's';
    }

    return day_convert;
  }

  function TimeConversion(time) {
    let time_convert = '';
    if (time == '06:00:00') {
      time_convert = '1';
    } else if (time == '06:30:00') {
      time_convert = '2';
    } else if (time == '07:00:00') {
      time_convert = '3';
    } else if (time == '07:30:00') {
      time_convert = '4';
    } else if (time == '08:00:00') {
      time_convert = '5';
    } else if (time == '08:30:00') {
      time_convert = '6';
    } else if (time == '09:00:00') {
      time_convert = '7';
    } else if (time == '09:30:00') {
      time_convert = '8';
    } else if (time == '10:00:00') {
      time_convert = '9';
    } else if (time == '10:30:00') {
      time_convert = '10';
    } else if (time == '11:00:00') {
      time_convert = '11';
    } else if (time == '11:30:00') {
      time_convert = '12';
    } else if (time == '12:00:00') {
      time_convert = '13';
    } else if (time == '12:30:00') {
      time_convert = '14';
    } else if (time == '13:00:00') {
      time_convert = '15';
    } else if (time == '13:30:00') {
      time_convert = '16';
    } else if (time == '14:00:00') {
      time_convert = '17';
    } else if (time == '14:30:00') {
      time_convert = '18';
    } else if (time == '15:00:00') {
      time_convert = '19';
    } else if (time == '15:30:00') {
      time_convert = '20';
    } else if (time == '16:00:00') {
      time_convert = '21';
    } else if (time == '16:30:00') {
      time_convert = '22';
    } else if (time == '17:00:00') {
      time_convert = '23';
    } else if (time == '17:30:00') {
      time_convert = '24';
    } else if (time == '18:00:00') {
      time_convert = '25';
    } else if (time == '18:30:00') {
      time_convert = '26';
    } else if (time == '19:00:00') {
      time_convert = '27';
    } else if (time == '19:30:00') {
      time_convert = '28';
    } else if (time == '20:00:00') {
      time_convert = '29';
    }

    return time_convert;
  }

  //---------------------------------------------------------------
</script>
{% endblock content %}