{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Faculty{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    <h3>Faculty Schedule</h3>
      <div class="row justify-content-md-center mt-2">
        <div class="col-md-10 py-3 bg-light ml-1" style="border: 1px solid black; border-radius: 5px;">
          <h4>Faculty Schedule</h4>
          <ul class="nav justify-content-end" style="margin-top: -55px">
            <li class="nav-item">
              <a class="nav-link __top-right_link" style="font-size: 12px; color: #000;" href="#">Tabular View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link __top-right_link" href="#" style="font-size: 12px; color: #000;">Calendar View</a>
            </li>
          </ul>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col" style="color:#fff; background:#8b1001;">Code</th>
                    <th class="bg-success" scope="col" style="color:#fff;">Description</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Units</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Section</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Schedule</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Level</th>
                    <th scope="col" style="color:#fff; background:#8b1001;">Instructor</th>
                  </tr>
                </thead>
                <tbody>
                  {% for schedule in schedules %}
                  <tr>
                    <th scope="row">{{ schedule.subject_code }}</th>
                    <td>{{ schedule.subject_name }}</td>
                    <td>{{ schedule.units }}</td>
                    <td>{{ schedule.section }}</td>
                    <td>{{ schedule.room }} ({{ schedule.day|capfirst }} {{ schedule.time_in }}-{{ schedule.time_out }})</td>
                    <td>{{ schedule.level }}</td>
                    <td>{{ schedule.first_name }} {{ schedule.middle_name }} {{ schedule.last_name }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}
