{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}
{% block content %}
<div class="scheduling-system">Scheduling System</div>
    <div class="img">
        <img
        class="received-704140150881574-remov-icon"
        alt=""
        src="{% static 'public/received-704140150881574removebgpreview-1-3@2x.png' %}"
        /><img
        class="profile-pic-icon"
        alt=""
        src="{% static 'public/profile-pic@2x.png' %}"
        /><img
        class="profile-pic1-icon"
        alt=""
        src="{% static 'public/profile-pic1@2x.png' %}"
        /><img
        class="profile-pic2-icon"
        alt=""
        src="{% static 'public/profile-pic2@2x.png' %}"
        /><img
        class="profile-pic3-icon"
        alt=""
        src="{% static 'public/profile-pic3@2x.png' %}"
        />
    </div>
{% endblock content %}