:root {
  /* fonts */
  --drop-menu-menu: Poppins;

  /* font sizes */
  --font-size-7xs: 5px;
  --font-size-6xs: 5.13px;
  --font-size-5xs: 6.67px;
  --font-size-4xs: 6.83px;
  --font-size-3xs: 8.56px;
  --font-size-2xs: 8.27px;
  --font-size-xs: 8.95px;
  --font-size-sm: 8.79px;
  --font-size-base: 9.18px;
  --font-size-lg: 9.5px;
  --font-size-xl: 9.96px;
  --font-size-2xl: 9.84px;
  --font-size-3xl: 9.23px;
  --font-size-4xl: 9.97px;
  --font-size-5xl: 9.86px;
  --font-size-6xl: 9.22px;
  --font-size-7xl: 10.71px;
  --font-size-8xl: 10.33px;
  --font-size-9xl: 11.96px;
  --font-size-10xl: 11.47px;
  --font-size-11xl: 11.39px;
  --font-size-12xl: 11.53px;
  --font-size-13xl: 11.8px;
  --font-size-14xl: 11.59px;
  --font-size-15xl: 11.67px;
  --font-size-16xl: 11.07px;
  --font-size-17xl: 11.46px;
  --drop-menu-menu-size: 12px;
  --font-size-19xl: 12.97px;
  --font-size-20xl: 12.3px;
  --font-size-21xl: 12.65px;
  --font-size-22xl: 13.78px;
  --font-size-23xl: 13.7px;
  --font-size-24xl: 13.91px;
  --font-size-25xl: 13.08px;
  --font-size-26xl: 13.22px;
  --font-size-27xl: 14.66px;
  --font-size-28xl: 15px;
  --font-size-29xl: 15.29px;
  --font-size-30xl: 15.3px;
  --font-size-31xl: 15.57px;
  --font-size-32xl: 15.38px;
  --font-size-33xl: 15.44px;
  --font-size-34xl: 15.86px;
  --font-size-35xl: 16.11px;
  --font-size-36xl: 16.59px;
  --font-size-37xl: 16.41px;
  --font-size-38xl: 16.44px;
  --font-size-39xl: 16.33px;
  --font-size-40xl: 16.7px;
  --font-size-41xl: 17.84px;
  --font-size-42xl: 18.27px;
  --font-size-43xl: 18.29px;
  --font-size-44xl: 18.32px;
  --font-size-45xl: 19.12px;
  --font-size-46xl: 19.22px;
  --font-size-47xl: 20px;
  --font-size-48xl: 20.51px;
  --font-size-49xl: 20.68px;
  --font-size-50xl: 25px;
  --font-size-51xl: 30px;

  /* Colors */
  --white: #fff;
  --color-black: #000;
  --color-dimgray: #5c5c5c;
  --color-whitesmoke: #f3efee;
  --color-darkred: #8b1001;
  --color-forestgreen: #2f9f41;
  --black: #313144;
  --blues-gray2: #b8bbc2;
  --color-darkolivegreen: #074010;
  --color-steelblue: #2f699f;
  --color-mediumseagreen: #72cb80;
  --color-darkgray: #aeaeae;
  --color-gray: #121212;

  /* Gaps */
  --gap-sm: 9.96px;
  --gap-md: 10px;
  --gap-lg: 13.22px;

  /* Paddings */
  --padding-32xs: 2.666314125061035px;
  --padding-31xs: 2.7338545322418213px;
  --padding-30xs: 3.985546588897705px;
  --padding-29xs: 3.7983078956604004px;
  --padding-28xs: 3.934056282043457px;
  --padding-27xs: 3.863227605819702px;
  --padding-26xs: 3.889019012451172px;
  --padding-25xs: 3.8890187740325928px;
  --padding-24xs: 3.689211130142212px;
  --padding-23xs: 3.8216278553009033px;
  --padding-22xs: 4.217799186706543px;
  --padding-21xs: 4.361401081085205px;
  --padding-20xs: 5.189704418182373px;
  --padding-19xs: 5.481121063232422px;
  --padding-18xs: 5.4448628425598145px;
  --padding-17xs: 5.565725326538086px;
  --padding-16xs: 5.287628173828125px;
  --padding-15xs: 7.850745677947998px;
  --padding-14xs: 7.57777738571167px;
  --padding-13xs: 8.413281440734863px;
  --padding-12xs: 8.456250190734863px;
  --padding-11xs: 8.203527450561523px;
  --padding-10xs: 8.203526496887207px;
  --padding-9xs: 8.061371803283691px;
  --padding-8xs: 9.022918701171875px;
  --padding-7xs: 11px;
  --padding-6xs: 12.846674919128418px;
  --padding-5xs: 12.399999618530273px;
  --padding-4xs: 13.76718807220459px;
  --padding-3xs: 13.83750057220459px;
  --padding-2xs: 13.423954010009766px;
  --padding-xs: 13.42395305633545px;
  --padding-sm: 13.191335678100586px;
  --padding-md: 14.764776229858398px;
  --padding-lg: 16.664466857910156px;
  --padding-xl: 16.53333282470703px;
  --padding-2xl: 17.1289005279541px;
  --padding-3xl: 17.086591720581055px;
  --padding-4xl: 17.898605346679688px;
  --padding-5xl: 17.898603439331055px;
  --padding-6xl: 17.58844757080078px;
  --padding-7xl: 18.356250762939453px;
  --padding-8xl: 18px;
  --padding-9xl: 18.450000762939453px;
  --padding-10xl: 19.686368942260742px;
  --padding-11xl: 20px;
  --padding-12xl: 20.89069175720215px;
  --padding-13xl: 20.290660858154297px;
  --padding-14xl: 21.92050552368164px;
  --padding-15xl: 21.637310028076172px;
  --padding-16xl: 21.247751235961914px;
  --padding-17xl: 21.389602661132812px;
  --padding-18xl: 21.018953323364258px;
  --padding-19xl: 23.197895050048828px;
  --padding-20xl: 23.987707138061523px;
  --padding-21xl: 24px;
  --padding-22xl: 28.543373107910156px;
  --padding-23xl: 29.946746826171875px;
  --padding-24xl: 29.081953048706055px;
  --padding-25xl: 30px;
  --padding-26xl: 30.146167755126953px;
  --padding-27xl: 30.611488342285156px;
  --padding-28xl: 36.642601013183594px;
  --padding-29xl: 38.2421875px;
  --padding-30xl: 38.4375px;
  --padding-31xl: 41.013267517089844px;
  --padding-32xl: 50px;

  /* border radiuses */
  --br-7xs: 1.49px;
  --br-6xs: 1.47px;
  --br-5xs: 5.71px;
  --br-4xs: 5.51px;
  --br-3xs: 5.97px;
  --br-2xs: 5.86px;
  --br-xs: 6.12px;
  --br-sm: 6.15px;
  --br-md: 6.56px;
  --br-lg: 7.65px;
  --br-xl: 7.69px;
  --br-2xl: 7.33px;
  --br-3xl: 8px;
  --br-4xl: 8.2px;
  --br-5xl: 10px;
  --br-6xl: 20px;
  --br-7xl: 100px;
}
