body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.nav-menu-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 291px;
  height: 1000px;
}
.menu3 {
  position: absolute;
  top: 91px;
  left: 10px;
  font-size: var(--font-size-28xl);
  font-weight: 500;
  color: var(--color-dimgray);
  text-align: center;
}
.home-btn-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 290px;
  height: 80px;
}
.home3 {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 40px;
  font-weight: 500;
}
.home-btn3 {
  position: absolute;
  top: 114px;
  left: 0;
  width: 290px;
  height: 80px;
}
.c-btn3,
.co-btn3,
.fs-btn3,
.mes-btn3,
.rs-btn3,
.ss-btn3 {
  position: absolute;
  top: 194px;
  left: 0;
  width: 290px;
  height: 80px;
}
.c-btn3,
.co-btn3,
.mes-btn3,
.rs-btn3,
.ss-btn3 {
  top: 274px;
}
.c-btn3,
.co-btn3,
.mes-btn3,
.rs-btn3 {
  top: 354px;
}
.c-btn3,
.co-btn3,
.mes-btn3 {
  top: 434px;
}
.c-btn3,
.co-btn3 {
  top: 514px;
}
.co-btn3 {
  top: 594px;
}
.ai-btn3,
.as-btn3,
.cs-btn3,
.nav-child1,
.nav-menu3 {
  position: absolute;
  top: 674px;
  left: 0;
  width: 290px;
  height: 80px;
}
.ai-btn3,
.as-btn3,
.nav-child1,
.nav-menu3 {
  top: 754px;
}
.as-btn3,
.nav-child1,
.nav-menu3 {
  top: 834px;
}
.nav-child1,
.nav-menu3 {
  top: 0;
  height: 1000px;
}
.nav-child1 {
  background-color: var(--white);
  width: 1169px;
  height: 80px;
}
.batangas-state-university3 {
  position: absolute;
  top: 20px;
  left: 86px;
  font-size: var(--font-size-51xl);
  letter-spacing: 0.4em;
  font-weight: 500;
  color: var(--color-black);
}
.change-password3 {
  position: relative;
  line-height: 40px;
  font-weight: 500;
}
.cp3,
.lo3,
.nav3 {
  position: absolute;
  top: 0;
}
.cp3 {
  left: 844px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xl);
  align-items: center;
  justify-content: center;
}
.lo3,
.nav3 {
  height: 80px;
}
.lo3 {
  left: 1069px;
  background-color: var(--white);
  width: 100px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.nav3 {
  left: 291px;
  width: 1169px;
  text-align: center;
  color: var(--color-darkred);
}
.profile-removebg-preview-2-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70.35px;
  object-fit: cover;
}
.admin3 {
  position: absolute;
  top: 16px;
  left: 103px;
  font-weight: 500;
}
.admin-pf3 {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 187px;
  height: 70.35px;
  text-align: center;
  font-size: var(--font-size-50xl);
}
.academic-programs,
.major-exam-scheduling {
  position: absolute;
  top: 130px;
  left: 340px;
  font-size: var(--font-size-50xl);
  font-weight: 500;
}
.academic-programs {
  top: 7.65px;
  left: 15.3px;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
}
.iconsregularplus54 {
  position: relative;
  width: 15.3px;
  height: 15.3px;
  flex-shrink: 0;
  display: none;
}
.st-year24 {
  position: absolute;
  top: -7.26%;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 13.77px;
  font-weight: 500;
}
.label154,
.label254,
.label454 {
  position: relative;
  width: 34.42px;
  height: 13.77px;
  flex-shrink: 0;
  display: none;
}
.label254,
.label454 {
  width: 37.48px;
}
.label454 {
  width: 38.24px;
}
.iconsregularchevron-down-s54 {
  position: relative;
  width: 15.3px;
  height: 15.3px;
  flex-shrink: 0;
}
.header9 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--blues-gray2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xs) var(--padding-4xs);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.iconsregularchevron-down-s55,
.label155 {
  position: relative;
  width: 34.42px;
  height: 13.77px;
  flex-shrink: 0;
}
.iconsregularchevron-down-s55 {
  width: 15.3px;
  height: 15.3px;
  opacity: 0;
}
.item-hover45 {
  align-self: stretch;
  background-color: var(--white);
  height: 32.12px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xs) var(--padding-8xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}
.label256 {
  position: relative;
  width: 37.48px;
  height: 13.77px;
  flex-shrink: 0;
}
.item-hover46,
.item-hover47 {
  align-self: stretch;
  background-color: var(--white);
  height: 32.12px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xs) var(--padding-8xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.item-hover47 {
  z-index: 2;
}
.label458 {
  position: relative;
  width: 38.24px;
  height: 13.77px;
  flex-shrink: 0;
}
.item-hover48 {
  align-self: stretch;
  height: 32.12px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-13xs) var(--padding-8xl);
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 1;
}
.item-hover48,
.item-hover49,
.items-list9 {
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.item-hover49 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-13xs) var(--padding-8xl);
  justify-content: space-between;
  z-index: 0;
}
.items-list9 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -166.74px;
  left: 0;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  height: 166.74px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
}
.items-frame9 {
  align-self: stretch;
  position: relative;
  height: 0.76px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;
}
.dropdown-box9 {
  position: absolute;
  top: 71.13px;
  left: 510.15px;
  width: 198.86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--black);
}
.level2,
.search6,
.section3 {
  position: absolute;
  top: 53.54px;
  left: 510.15px;
  font-weight: 500;
}
.search6,
.section3 {
  left: 273.05px;
}
.search6 {
  left: 734.25px;
}
.dropdown-box10 {
  position: absolute;
  top: 71.13px;
  left: 273.05px;
  width: 198.86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--black);
}
.search7 {
  position: relative;
  line-height: 30.59px;
  font-weight: 600;
}
.search-wrapper1 {
  position: absolute;
  top: 71.13px;
  left: 734.25px;
  border-radius: var(--br-lg);
  background-color: var(--color-forestgreen);
  width: 229.45px;
  height: 32.89px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--white);
}
.academic-program {
  position: absolute;
  top: 53.54px;
  left: 35.95px;
  font-weight: 500;
}
.dropdown-box11 {
  position: absolute;
  top: 71.13px;
  left: 35.95px;
  width: 198.86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--black);
}
.academic-programs-parent {
  position: absolute;
  top: 167.24px;
  left: 430.24px;
  background-color: var(--white);
  border: 0.8px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 980.53px;
  height: 120.08px;
  overflow: hidden;
  font-size: var(--font-size-9xl);
  color: var(--color-dimgray);
}
.frame-child24,
.frame-child25 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 1070px;
  height: 183.43px;
}
.frame-child25 {
  background-color: var(--color-darkred);
  height: 30.57px;
}
.courses-to-offered {
  position: absolute;
  top: 8.41px;
  left: 15.29px;
  letter-spacing: 0.03em;
  line-height: 13.76px;
  font-weight: 500;
}
.course-name {
  position: relative;
  line-height: 30.42px;
  font-weight: 600;
}
.course-code-wrapper,
.course-name-wrapper {
  top: -0.5px;
  background-color: var(--color-darkred);
  height: 39.97px;
  color: var(--white);
}
.course-name-wrapper {
  position: absolute;
  left: 152.36px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 402.25px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-29xs) var(--padding-14xl);
  align-items: center;
  justify-content: center;
}
.course-code-wrapper {
  left: -0.5px;
  width: 153.85px;
}
.course-code-wrapper,
.linear-algebra-container,
.math-111-frame,
.schedule-wrapper2 {
  position: absolute;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-29xs) var(--padding-14xl);
  align-items: center;
  justify-content: center;
}
.schedule-wrapper2 {
  top: -0.5px;
  left: 553.61px;
  background-color: var(--color-darkred);
  width: 344.92px;
  height: 39.97px;
  color: var(--white);
}
.linear-algebra-container,
.math-111-frame {
  top: 38.48px;
  left: 152.36px;
  background-color: var(--white);
  width: 402.25px;
  height: 40.74px;
}
.math-111-frame {
  left: -0.5px;
  width: 153.85px;
}
.cs-201mr-homer {
  margin-block-start: 0;
  margin-block-end: 0;
}
.m-800am-1000am4 {
  margin: 0;
}
.cs-201mr-homer-container {
  position: relative;
  font-weight: 500;
}
.computer-networking-1-wrapper,
.cs-201mr-homer-r-castillo-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-29xs) var(--padding-14xl);
  align-items: center;
  justify-content: center;
}
.cs-201mr-homer-r-castillo-wrapper {
  position: absolute;
  top: 38.48px;
  left: 553.61px;
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 344.92px;
  height: 40.74px;
  font-size: 9.55px;
}
.computer-networking-1-wrapper {
  left: 152.36px;
  width: 402.25px;
}
.actions-wrapper,
.computer-networking-1-wrapper,
.frame-child26,
.it-212-wrapper {
  position: absolute;
  top: 78.22px;
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 39.97px;
}
.it-212-wrapper {
  left: -0.5px;
  width: 153.85px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-29xs) var(--padding-14xl);
  align-items: center;
  justify-content: center;
}
.actions-wrapper,
.frame-child26 {
  left: 553.61px;
  width: 344.92px;
}
.actions-wrapper {
  top: -0.5px;
  left: 897.54px;
  background-color: var(--color-darkred);
  width: 132.45px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-29xs) var(--padding-14xl);
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.frame-child27 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-forestgreen);
  width: 24.72px;
  height: 24.72px;
}
.material-symbolsedit-icon {
  position: absolute;
  top: 4.9px;
  left: 4.99px;
  width: 15.29px;
  height: 15.29px;
  overflow: hidden;
}
.rectangle-parent2 {
  position: relative;
  width: 24.72px;
  height: 24.72px;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-child28 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkred);
  width: 24.72px;
  height: 24.72px;
}
.material-symbolsedit-document-icon {
  position: absolute;
  top: 4.59px;
  left: 4.82px;
  width: 15.29px;
  height: 15.29px;
  overflow: hidden;
}
.rectangle-parent3 {
  position: relative;
  width: 24.46px;
  height: 24.46px;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent3 {
  position: absolute;
  top: 38.48px;
  left: 897.54px;
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 132.45px;
  height: 40.74px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-29xs) var(--padding-14xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.material-symbolsedit-document-icon1 {
  position: absolute;
  top: 4.97px;
  left: 4.82px;
  width: 15.29px;
  height: 15.29px;
  overflow: hidden;
}
.frame-parent4 {
  position: absolute;
  top: 78.22px;
  left: 897.54px;
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 132.45px;
  height: 39.97px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-29xs) var(--padding-14xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.frame-parent2 {
  position: absolute;
  top: 45.86px;
  left: 19.87px;
  width: 1029.49px;
  height: 117.7px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.rectangle-parent1 {
  position: absolute;
  top: 374px;
  left: 340px;
  width: 1070px;
  height: 183.43px;
  font-size: var(--font-size-31xl);
  color: var(--white);
}
.nav-menu-parent1 {
  position: absolute;
  top: 40px;
  left: 60px;
  background-color: var(--color-whitesmoke);
  width: 1435px;
  height: 1000px;
}
.majorexam-schedule4 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-black);
  font-family: var(--drop-menu-menu);
}
