{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock title %}</title>
    <style>
      * {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      }

      .active {
        color: #8b1001 !important;
      }

      .__links {
        color: #000;
        line-height: 40px;
        font-weight: 500;
        font-size: 20px;
      }

      .__home_img {
        height: auto;
        width: 200px;
      }

      .__home_logo {
        height: auto;
        width: 400px;
      }

      .__top-right_link {
        line-height: 40px;
        font-weight: 500;
        font-size: 20px;
      }
    </style>
    </head>
  <body style="background-color: #f3efee">
    <nav class="navbar navbar-light" style="background-color: #fff;">
      <ul class="nav justify-content-start">
        <li class="nav-item">
          <img src="{% static 'public/profileremovebgpreview-2@2x.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <label class="ml-2" style="font-weight: 500; font-size: 25px;">{{ details.firstname|capfirst }}</label>
        </li>
      </ul>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <h2 class="nav-link" href="#" style="font-size: 30px; letter-spacing: 0.4em; font-weight: 500;">BATANGAS STATE UNIVERSITY</h2>
        </li>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link __top-right_link" href="change_password" style="color: #8b1001">Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link __top-right_link" href="logout" style="color: #8b1001">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="row" style="background-color: #fff; height: 100%; position: fixed; width: 280px;">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 ml-2" style="position:fixed; max-width: 15%;">
            <label style="color: #5c5c5c">Menu</label>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/home' %}active{% endif %}" href="home">Home</a>
              </li>
              {% if details.usertype == 'instructor'  %}
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/faculty' %}active{% endif %}" href="faculty">Faculty Schedule</a>
              </li>
              {% elif details.usertype == 'student' %}
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/student' %}active{% endif %}" href="student">Student Schedule</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/room' %}active{% endif %}" href="room">Room Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/exam' %}active{% endif %}" href="exam">Major Exam Schedule</a>
              </li>
              {% if details.usertype == 'admin'  %}
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/curriculum' %}active{% endif %}" href="curriculum">Curriculum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/course_offer' %}active{% endif %}" href="course_offer">Course Offering</a>
              </li>
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/course_schedule' %}active{% endif %}" href="course_schedule">Course Scheduling</a>
              </li>
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/add_schedule' %}active{% endif %}" href="add_schedule">Add Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link __links {% if request.path == '/add_student' %}active{% endif %}" href="add_user">Add User</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="padding-left: 280px">
      <!-- Content Here -->
      {% block content %}{% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
