{% extends 'mainLayout.html' %}
{% load static %}
{% block title %}Exam Schedule{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-10 mt-4">
      <h3>Major Exam Scheduling</h3>
          <div class="row justify-content-md-center">
            <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
              <h4>Academic Programs</h4>
              <div class="row">
                <div class="col-md-3">
                  <small style="color : #5c5c5c;">Academic Program</small>
                  <select class="form-control form-control-sm" id="program_code">
                  <option></option>
                  {% for program_code in program_codes  %}
                    <option>{{ program_code }}</option>
                  {% endfor %}
                  </select>
                </div>
                <div class="col-md-3">
                  <small style="color : #5c5c5c;">Section</small>
                  <select class="form-control form-control-sm" id="section">
                      <option></option>
                      {% for section in sections  %}
                        <option>{{ section.section_code }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="col-md-3">
                  <small style="color : #5c5c5c;">Level</small>
                  <select class="form-control form-control-sm" id="level">
                      <option value=""></option>
                      <option value="1">1st Year</option>
                      <option value="2">2nd Year</option>
                      <option value="3">3rd Year</option>
                      <option value="4">4th Year</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <small style="color : #5c5c5c;">Search</small>
                  <button type="button" id="btnSearch" class="btn btn-success btn-block">Search</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center mt-2">
            <div class="col-md-10 py-3 bg-light" style="border: 1px solid black; border-radius: 5px;">
              <h4>Schedule</h4>
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-bordered table-hover text-center">
                    <thead>
                      <tr>
                        <th scope="col" style="color:#fff; background:#8b1001;">Academic Program</th>
                        <th scope="col" style="color:#fff; background:#8b1001;">Course</th>
                        <th scope="col" style="color:#fff; background:#8b1001;">Section</th>
                        <th scope="col" style="color:#fff; background:#8b1001;">Level</th>
                        <th scope="col" style="color:#fff; background:#8b1001;">Subject Code</th>
                        <th scope="col" style="color:#fff; background:#8b1001;">Subject Name</th>
                        <th scope="col" style="color:#fff; background:#8b1001;">Schedule</th>
                        {% if details.usertype == 'admin' %}
                        <th scope="col" style="color:#fff; background:#8b1001;">Actions</th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody id="tblSchedule">
                      {% for exam_schedule in  exam_schedules %}
                      <tr>
                        <th scope="row">{{ exam_schedule.program_code }}</th>
                        <td>{{ exam_schedule.course }}</td>
                        <td>{{ exam_schedule.section }}</td>
                        <td>{{ exam_schedule.level }}</td>
                        <td>{{ exam_schedule.subject_code }}</td>
                        <td>{{ exam_schedule.subject_description }}</td>
                        <td>{{ exam_schedule.schedule }}</td>
                        {% if details.usertype == 'admin' %}
                        <td>
                          <button class="btn btn-success btn-sm mr-1 btnEdit" data-id="{{ exam_schedule.id }}"  data-toggle="modal" data-target="#examScheduleModal"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                          <button class="btn btn-danger btn-sm mr-1 btnDelete" data-id="{{ exam_schedule.id }}"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
    </div>
  </div>
  <div class="modal fade" id="examScheduleModal" tabindex="-1" aria-labelledby="examScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Exam Schedule</h4>
        </div>
        <div class="modal-body">
          <div class="row"> 
            <div class="col-md-4">
              <small style="color : #5c5c5c;">Instructor ID</small>
              <input type="hidden" name="id" id="id">
              <input type="text" name="examinstructorid" id="examinstructorid" class="form-control form-control-sm" readonly >
            </div>
            <div class="col-md-4">
              <small style="color : #5c5c5c;">First Name</small>
              <input type="text" name="firstName" id="firstName" class="form-control form-control-sm" readonly >
            </div>
            <div class="col-md-4">
              <small style="color : #5c5c5c;">Last Name</small>
              <input type="text" name="lastName" id="lastName" class="form-control form-control-sm" readonly >
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <small style="color : #5c5c5c;">Course Code</small>
              <select class="form-control form-control-sm" id="examCourse">
                <option></option>
                {% for course in courses %}
                <option>{{ course.course_code }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-6">
              <small style="color : #5c5c5c;">Program Code</small>
              <input type="text" name="program" id="examProgram" class="form-control form-control-sm" readonly >
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <small style="color : #5c5c5c;">Sections</small>
              <select class="form-control form-control-sm" id="examSection">
                <option></option>
                {% for section in sections %}
                <option>{{ section.section_code }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <small style="color : #5c5c5c;">Subject Code</small>
              <select class="form-control form-control-sm" id="examSubject">
                <option></option>
                {% for subject in subjects %}
                <option>{{ subject.subject_code }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <small style="color : #5c5c5c;">Room</small>
              <select class="form-control form-control-sm" id="examRoom">
                <option></option>
                {% for room in rooms %}
                <option>{{ room.room }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <small style="color : #5c5c5c;">Days : </small>
              <select class="form-control form-control-sm" id="examDay">
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
              </select>
            </div>
            <div class="col-md-3">
              <small style="color : #5c5c5c;">Time In</small>
              <input type="time" name="timeIn" class="form-control form-control-sm" id="examTime_in">
            </div>
            <div class="col-md-3">
              <small style="color : #5c5c5c;">Time Out</small>
              <input type="time" name="timeOut" class="form-control form-control-sm" id="examTime_out">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" id="btnEditSave" class="btn btn-success text-white">Confirm</button>
        </div>
        {% csrf_token %}
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $("#btnSearch").on('click', function () {
        var program_code = $("#program_code").val().toLowerCase();
        var section = $("#section").val().toLowerCase();
        var level = $("#level").val().toLowerCase();
  
        $("#tblSchedule tr").filter(function () {
          var rows = $(this).text().toLowerCase();
          var program_code_match = rows.indexOf(program_code) > -1;
          var section_match = rows.indexOf(section) > -1;
          var level_match = rows.indexOf(level) > -1;
          $(this).toggle(program_code_match && section_match && level_match);
        });
  
      });

      $(".btnEdit").click(function () {
        $.ajax({
          url: '{% url 'modify_exam_schedule' %}',
          method: 'POST',
          data: {
            id: $(this).data('id')
          },
          headers: {
            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
          },
          success: function (data) {
            console.log(data)
            $('#id').val(data[0].id);
            $('#examinstructorid').val(data[0].instructor_id);
            $('#firstName').val(data[0].first_name);
            $('#lastName').val(data[0].last_name);
            $('#examCourse').val(data[0].course_code);
            $('#examProgram').val(data[0].program_code);
            $('#examSection').val(data[0].section_code);
            $('#examSubject').val(data[0].subject_code);
            $('#examRoom').val(data[0].room);
            $('#examDay').val(data[0].days);
            $('#examTime_in').val(data[0].time_in);
            $('#examTime_out').val(data[0].time_out);
          }
        });
      });

      $("#btnEditSave").click(function () {
        $.ajax({
          url: '{% url 'save_exam_schedule' %}',
          method: 'POST',
          data: {
            id: $('#id').val(),
            subject: $('#examSubject').val(),
            course: $('#examCourse').val(),
            section: $('#examSection').val(),
            room: $('#examRoom').val(),
            days: $('#examDay').val(),
            time_in: $('#examTime_in').val(),
            time_out: $('#examTime_out').val()
          },
          headers: {
            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
          },
          success: function (data) {
            location.reload();
          }
        });
      });

      $(".btnDelete").click(function () {
        $.ajax({
          url: '{% url 'delete_exam_schedule' %}',
          method: 'POST',
          data: {
            id: $(this).data('id')
          },
          success: function (data) {
            location.reload();
          }
        });
      });
    });
  </script>
{% endblock content %}